[2017-08-29 09:16] matthewpaulthomas opened #1 "Livepatch revisions yet again"
- [x] The Desktop team insists that there should be a notification when a Livepatch update has applied successfully.

- [x] Error dialog when there’s a general error: “Sorry, there’s been a problem in setting up Canonical Livepatch.” ‘The error was: “%s”’ “Settings…” “Ignore”

- [x] Clarify that clicking the Livepatch checkbox multiple times should not build up a long queue of daemon startups/shut

[2017-08-31 14:58] matthewpaulthomas opened #2 "Multipass: Finding available images from the command line"
[From Trello](https://trello.com/c/4dzAWN1s/73-need-to-list-available-images):

[2017-09-28 15:06] matthewpaulthomas opened #3 "Subiquity (+ conjure-up?): Define visual language for text interface elements"
In user testing of Subiquity, several of the problems that people experienced had the same root cause: lack of an obvious visual language for interface elements.

This includes things like:
- `(*) radio buttons`
- `[radio menus ↕]`
- `( Push Buttons )`
- `┌─ Dialogs ─┐`
- for those that are controls, what they look like when focused, and when disabled.

We should investigate whether any equivalent

[2017-09-28 15:11] matthewpaulthomas opened #4 "Subiquity (+ conjure-up?): Define color scheme"
Subiquity can use a palette of 8 colors in its text-based interface. The choice of colors would benefit from visual design expertise.

The current palette has something like:
- brand color (currently Ubuntu orange)
- background color (currently black)
- normal text (white)
- secondary text (grey)
- safe continue actions (green)
- dangerous continue actions (red)
- backward actions (blue)

As with

[2017-09-29 14:36] matthewpaulthomas opened #5 "Subiquity: Design for bonding and Vlans"
[Design brief](https://docs.google.com/document/d/1Wz_1SmriM2RJyx0_S0DUVopLAhE-zFomJvyBNfa2Bwc/edit): “In subiquity, networking configuration step allows one to setup ip settings of a networking interface. Currently only physical interfaces are supported such as ethernet and WiFi network cards…”

The rough scope of this work would be specifying:
- a “dialog” for adding a bond
- a “dialog” for addi

[2017-11-06 10:28] carlaberkers opened #6 "Interface descriptions"
@matthewpaulthomas commented on [Wed Aug 16 2017](https://github.com/CanonicalLtd/snappy-design-squad/issues/100)

For the install-time settings UI, the post-install settings UI, and the runtime prompt, each interface needs:
- a human-readable description
- a definition of whether its UI should be a checkbox (most of them) or something else (usually a radio menu).

Implementing these descriptions

[2017-11-06 15:32] #1 closed, assigned to matthewpaulthomas

[2017-11-14 14:34] #2 closed, assigned to matthewpaulthomas

[2017-11-17 12:25] carlaberkers opened #7 "Clarify this task: Accessibility considerations with current high contrast theme"
- clarify with Will

[2017-11-17 12:27] carlaberkers opened #8 "Collate examples of latest visual designs done for desktop"
to give an idea of the desired look and feel

[2017-11-17 12:30] carlaberkers opened #9 "Ubuntu theme refresh workshop"

[2017-11-24 16:12] #8 closed, assigned to matthewpaulthomas

[2017-11-24 17:05] #7 closed, assigned to matthewpaulthomas

[2017-11-30 15:14] kwm14 commented on #3
Work completed [here](https://github.com/ubuntudesign/vanilla-design/issues/112). Closing issue.

[2017-11-30 15:14] #3 closed

[2017-11-30 15:14] kwm14 commented on #4
Work completed [here](https://github.com/ubuntudesign/vanilla-design/issues/113). Closing issue.

[2017-11-30 15:14] #4 closed

[2017-11-30 15:23] 8none1 opened #10 "Reduce size of application header bar"
The header bar for applications is too large and should be made smaller.

[2017-11-30 15:25] 8none1 opened #11 "Switch default user icon at greeter to use Juju user icon"

[2017-11-30 15:25] 8none1 opened #12 "Click and holding on a slider reduces it size"

[2017-11-30 15:26] 8none1 opened #13 "Can't distinguish between active and inactive tabs in gedit"

[2017-11-30 15:28] 8none1 opened #14 "Transparency of top bar needs tweaking"
If you have a light coloured wallpaper it can be difficult to read the clock and icons when the top bar is transparent.

[2017-11-30 15:28] 8none1 opened #15 "Tweak default icon size in launcher"
The default size is too large.

[2017-11-30 15:30] 8none1 opened #16 "Errored fields are too red"
If you enter invalid text in to an input field the entire field turns red.

[2017-11-30 15:30] 8none1 opened #17 "Add pressed state to sliders"
At the moment there is no way to tell if the slider is pressed or not.

[2017-11-30 15:31] 8none1 opened #18 "Checkboxes highlight just the label but should highlight the whole field"

[2017-11-30 15:32] 8none1 opened #19 "Link buttons become buttons when clicked but should remain as just text"

[2017-11-30 15:32] 8none1 opened #20 "The disabled state of direction buttons in the header of Nautilus are unclear"

[2017-11-30 15:33] 8none1 opened #21 "Checkboxes and radio buttons are too small"

[2017-11-30 15:34] 8none1 opened #22 "Radio buttons do not highlight the whole field when pressed"

[2017-11-30 15:35] 8none1 opened #23 "Radio menu looks the same as pop-over"
Not sure what this one is, need screenshot.

[2017-11-30 15:36] 8none1 opened #24 "Focus ring for segmented buttons doesnt highlight the whole button"

[2017-11-30 15:37] 8none1 opened #25 "Focus ring for combo boxes doesn't highlight the whole button"

[2017-11-30 15:38] 8none1 opened #26 "Grey background appears in step fields"

[2017-11-30 15:44] 8none1 commented on #26
![stepfield](https://user-images.githubusercontent.com/6552931/33439446-5908697c-d5e5-11e7-87fc-edb799dae529.png)

[2017-11-30 15:46] 8none1 opened #27 "Review Nautilus sidebar style from Ambiance RW"
![b9af6da148b293f2d170fcebc7a73382d4d9 1](https://user-images.githubusercontent.com/17748020/34954558-c03c1c86-fa18-11e7-89a1-c404f39a9037.jpg)

[2017-11-30 15:48] 8none1 opened #28 "Nautilus path bar buttons are inconsistent"
There are a lot of different greys in the breadcrumbs at the top of the Nautilus window which need some rationalisation.

[2017-11-30 15:48] 8none1 opened #29 "Focus state on green action buttons is unclear"

[2017-11-30 15:49] 8none1 opened #30 "Corner radius on checkboxes looks too similar to radio buttons"

[2017-11-30 15:50] 8none1 opened #31 "Review other changes from Ambience RW with a view to merge what we can"

[2017-11-30 15:51] 8none1 opened #32 "Update buttons styles in application header bar"
Rounded corners & strokes.

[2017-11-30 15:51] 8none1 opened #33 "Package and publish Suru icons"

[2017-11-30 15:52] 8none1 opened #34 "Selected text remains brightly coloured when focus field is changed"

[2017-11-30 15:52] 8none1 opened #35 "Entering text in password field at greeter causes 1px jump"

[2017-11-30 15:52] 8none1 opened #36 "Gradients in top bar and application header bars clash"

[2017-11-30 15:54] 8none1 opened #37 "Nautilus icon view for focused, selected and mouse-over files is too orange"

[2017-11-30 16:26] matthewpaulthomas commented on #9
Workshop completed.

[2017-11-30 16:26] #9 closed

[2017-11-30 16:48] kwm14 opened #38 "Update login screen user icon"
- Use Juju GUI icon
- Platform default profile icon

[2017-11-30 16:50] kwm14 opened #39 "Orange selected states look pink"
- Due to reduced transparency on Orange on some screen it looks pink

[2017-11-30 16:54] kwm14 opened #40 "Update Switch control appearance"
- Look at Vanilla and Platform default
- Shape
- Symbol

[2017-11-30 16:54] 8none1 opened #41 "Square off Windows and Modals"
They are currently round at the top and square at the bottom

[2017-11-30 16:55] 8none1 opened #42 "Make it easier to distinguish between focused and non-focused windows"

[2017-11-30 16:55] kwm14 opened #43 "Review colour work and update palette"
- Platform color palette
- Sync up and send to Theme designer
- Send link to Colour document

[2017-11-30 16:57] kwm14 opened #44 "Provide manual list of (GNOME) icons"
- Identify any new icons required

[2017-11-30 16:58] kwm14 opened #45 "Update and provide Action icons"
- Review existing Platform action icons
- Export SVG format

[2017-11-30 16:59] kwm14 opened #46 "Ubuntu theme icon library"
- Review all icons in Theme
- Make sure they fit Square requirement formatted by GNOME

[2017-11-30 17:00] kwm14 opened #47 "GTK2 apps gradient on maximised windows"

[2017-11-30 17:01] kwm14 opened #48 "Bouncing indeterminate progress bar looks the same as the determine progress bar"
- Review progress bars designed by Platform team
- Design and update if needed

[2017-11-30 17:03] kwm14 opened #49 "Focussed and non focussed windows"
- Review work done by Platform team
- Review focus state in Vanilla and MAAS
- Design and update accordingly

[2017-11-30 17:11] carlaberkers commented on #9
Notes here: https://docs.google.com/document/d/11NWDUf9a-trHCzlnKR9WlHQViOoB68Tyfx14rPXYuJk/edit

[2017-12-04 09:47] matthewpaulthomas commented on #39
![slider](https://user-images.githubusercontent.com/19801137/33546112-0fda2088-d8d8-11e7-9c19-433266b40007.png)

![listbox](https://user-images.githubusercontent.com/19801137/33546116-13190548-d8d8-11e7-91f6-d36e6a47e862.png)

[2017-12-07 11:12] 8none1 commented on #27
Design team +1'd the darker grey from the Ambiance RW theme, so we need a merge proposal to land that in to Ambiance in LP.

[2017-12-07 11:24] 8none1 commented on #49
Background info:  The difference between a focused and unfocused window is not especially
![focussed_and_non_focused_49](https://user-images.githubusercontent.com/6552931/33712977-3bed3cd0-db41-11e7-9d3e-2a05654f36f4.png)
 clear

[2017-12-07 11:30] 8none1 commented on #48
By using the gtk3-widget-factory (installed via the gtk-3-examples package) you can see all he gtk widgets.  The bouncing progress bar shown below looks very similar to the "real" progress bars above it.

![bouncing_progress_48](https://user-images.githubusercontent.com/6552931/33713124-e2c9a962-db41-11e7-91f7-e2143cba01f2.png)

[2017-12-07 11:31] 8none1 commented on #42
Duplicate of https://github.com/CanonicalLtd/desktop-design/issues/49

[2017-12-07 11:31] #42 closed

[2017-12-07 11:33] 8none1 commented on #41
See this post for a suggested fix:

https://community.ubuntu.com/t/ambiance-gnome-theme-bugbears-and-what-can-be-done-about-them/1637/9

If that can be made a MP via a bug on launchpad we can mark this as fixed.

[2017-12-07 11:34] 8none1 commented on #38
Could someone attach the SVG for the Juju user icon here?

[2017-12-07 11:37] 8none1 commented on #30
![radio_checkbox_30](https://user-images.githubusercontent.com/6552931/33713410-fc053652-db42-11e7-941c-1262b4377c2c.png)

[2017-12-07 11:40] 8none1 commented on #28
![nautilus_greys_28](https://user-images.githubusercontent.com/6552931/33713519-6f5ad418-db43-11e7-92a8-f71a9773d36f.png)

[2017-12-07 14:44] 8none1 commented on #25
![combo_focus_ring_25](https://user-images.githubusercontent.com/6552931/33720850-2713e996-db5d-11e7-8502-0b27386f9683.png)

[2017-12-07 14:48] 8none1 commented on #18
![checkbox_highlight_18](https://user-images.githubusercontent.com/6552931/33720960-7802a82e-db5d-11e7-893b-42e4ae07e965.png)

[2017-12-07 14:56] 8none1 commented on #16
![error_field](https://user-images.githubusercontent.com/6552931/33721230-50fc1e26-db5e-11e7-9383-d0e7431c2ab3.png)

[2017-12-07 14:57] 8none1 commented on #11
Duplicate of https://github.com/CanonicalLtd/desktop-design/issues/38

[2017-12-07 14:57] #11 closed

[2017-12-07 15:06] matthewpaulthomas opened #50 "Livepatch in the desktop installer"
On 30 October 2017 Andrea Azzarone wrote:

On 30 October 2017 Will Cooke wrote:

[2017-12-07 21:37] clobrano commented on #25
I have a possible solution for that, but it requires to replace the border-image with a "normal" colored border, since (as far as I know) it isn't possible to make the border-image corners square

[2017-12-08 09:48] 8none1 commented on #25
I'm fine with that. I wonder if it will be faster without an image border as well?  Might be.

[2017-12-08 18:20] clobrano commented on #25
Here is the MP https://code.launchpad.net/~c-lobrano/ubuntu-themes/focus-ring-for-combo-boxes/+merge/334986

[2017-12-08 18:23] 8none1 commented on #25
Awesome, thanks @clobrano! Would you be able to do a "before" and "after" screenshot so that design can quickly ack?

[2017-12-08 18:41] clobrano commented on #25
Sure, can I copy it here?

[2017-12-08 18:49] 8none1 commented on #25
Yes please, upload the screenshots here.

[2017-12-08 19:16] clobrano commented on #25
Before and after images for first, middle and last child entries

![focus-ring-entry-b4-after](https://user-images.githubusercontent.com/2883614/33781336-792b483a-dc54-11e7-877e-703c2dfa0d31.png)

[2017-12-10 03:49] meetdilip commented on #49
Maybe, adding faded grey will do some good. Unfocused windows need not have a darker header similar to the focused window.

[2017-12-10 04:01] meetdilip commented on #38
@8none1 Do you like this ?

![user_avatar_64](https://user-images.githubusercontent.com/6965443/33801806-d09d1e7a-dd8c-11e7-9854-43024e985f8f.png)

[2017-12-10 04:04] meetdilip commented on #29
Github uses it too. Personally, I like it faded. Something bright and dull at the same time, inspired by material colours.

[2017-12-11 16:22] 3v1n0 commented on #10
FYI I've tried to get this done multiple times, but since the headerbar can be cusomized by applications this causes some inconstencies (mostly was with gedit/nautilus, but might be others).

My playground was something like this one below, but needs tuning:

[code]

[2017-12-13 13:03] clobrano commented on #19
MP for this issue https://code.launchpad.net/~c-lobrano/ubuntu-themes/ut-fix-link-button-mouseover/+merge/335136

![link-button](https://user-images.githubusercontent.com/2883614/33940201-5e1ef4c0-e00e-11e7-8306-1899bd570d3f.gif)

[2017-12-14 09:13] 8none1 commented on #38
@meetdilip thanks, but we already have one from our other projects.  @kwm14 could you ask someone to dig out the juju one and attach it here.

[2017-12-14 09:14] 8none1 commented on #25
@carlaberkers could you have someone +1 these changes from the visual side of things?

[2017-12-14 10:07] matthewpaulthomas commented on #25
Thanks to @lyubomir-popov for approving the visual design.

[2017-12-14 10:16] kwm14 commented on #38
Hi @8none1, looking into Juju's icon set we realised they were using an older version of the icon needed. So I've found an updated version which was used in the Apps and Platform team created by our icon designer.

Please updated user icon attached: [user-icon.svg.zip](https://github.com/CanonicalLtd/desktop-design/files/1558729/user-icon.svg.zip)

[2017-12-18 17:12] galgalesh opened #51 "Lack of dropshadow makes icons less clear when panel is translucent"
The Ambiance gnome-shell theme removes the dropshadow from icons in the top panel. This causes icons with similar colors to the background to be less clear.

# Ambiance

![image](https://user-images.githubusercontent.com/1492981/34118375-d507fa00-e41e-11e7-8d12-4437bdcdf41c.png)

# Adwaita

![image](https://user-images.githubusercontent.com/1492981/34118299-9a57ebc2-e41e-11e7-9e59-6a0f892b829e.png

[2017-12-20 11:25] clobrano commented on #18
Here is a possible fix for this
https://code.launchpad.net/~c-lobrano/ubuntu-themes/fix-checkbutton-and-radiobutton-highlight/+merge/335443

![checkbuttons-after](https://user-images.githubusercontent.com/2883614/34204903-b9028a7e-e580-11e7-85d5-4c0e0dafaebb.png)

the same MR fixes also radiobuttons in the same way

[2017-12-20 11:26] clobrano commented on #22
Here is a possible fix for this
https://code.launchpad.net/~c-lobrano/ubuntu-themes/fix-checkbutton-and-radiobutton-highlight/+merge/335443

![radiobuttons-after](https://user-images.githubusercontent.com/2883614/34204971-f21b5520-e580-11e7-874e-39b197470863.png)

the same MR fixes also checkbuttons in the same way

[2017-12-20 17:21] carlaberkers commented on #5
according to subiquity team, this doesn't require design input at the moment.
Closing

[2017-12-20 17:21] #5 closed

[2017-12-22 16:22] clobrano commented on #26
Here a possible fix for this issue https://code.launchpad.net/~c-lobrano/ubuntu-themes/ut-bug-step-field-grey-bg/+merge/335558

This should also fix some other issues I saw with borders and vertical spinbuttons.

Horizontal spinbuttons before and after the fix
![spinbutton-horizontal-before](https://user-images.githubusercontent.com/2883614/34304954-54176220-e73c-11e7-90e5-fb844c0cbeca.gif)
![spin

[2018-01-10 17:07] 3v1n0 commented on #19
I'm not sure what's the designed solution for this, should they be still the same color when unfocused, and not using any underline normally?

[2018-01-11 09:10] matthewpaulthomas commented on #51
Thanks for this report, @galgalesh. We’ll try to tackle this as part of upcoming theme accessibility fixes.

[2018-01-11 09:58] 8none1 commented on #51
I can't reproduce this on Artful.  I only have a black & white symbolic icon.

Any pointers here?  But, based on the screenshots above, yes, lets fix this.  Free for anyone to claim and work on.  Perhaps the Ambience RW theme can help here?  @3v1no

[2018-01-11 10:02] galgalesh commented on #51
You should be able to reproduce this with the "suru" icon theme, which doesn't have a dropshadow in the icon theme itself. I think the default icon theme has a dropshadow already in the icon theme.

[2018-01-11 14:12] kwm14 opened #52 "Ubuntu Theme refresh workshop"
## Ubuntu Theme refresh workshop

The Ubuntu designers will be discussing all design related issues, make a plan of action and design solutions to complete the refresh.

Theme refresh community: https://community.ubuntu.com/c/desktop/theme-refresh

[2018-01-11 15:56] 3v1n0 commented on #51
@galgalesh such shadows are generated only by gnome-shell... There's a special css flag for that on g-s .css in order to control it (`icon-shadow`, see https://github.com/GNOME/gnome-shell-sass/blob/master/_common.scss#L792)

[2018-01-15 10:40] kwm14 commented on #46
Hello @8none1 @didrocks

Would you be able to provide us with a list of icons from the theme that need to be formatted to a square? Thanks :slightly_smiling_face:

[2018-01-15 11:54] kwm14 commented on #45
@8none1 @didrocks do these icons need to be provided in the square format?

[2018-01-15 12:07] kwm14 commented on #43
Add updated colours into Google doc and send to theme designers.

https://docs.google.com/presentation/d/1C3iwloktagMcNIR1uQjn6jiDBlCfGJSBW7FcUuIPc74/edit#slide=id.g13b3c671fc_1_0

[2018-01-15 12:08] kwm14 commented on #40
Find Jamie's original design. Add design and spec here.

[2018-01-15 12:09] kwm14 commented on #38
Add design to Code section and close.

[2018-01-15 12:23] kwm14 commented on #36
@8none1 @didrocks can you provide a screenshot so we a visual reference? Thanks

[2018-01-15 12:50] matthewpaulthomas commented on #36
Unmaximized, top bar is flat, header bar is convex:
![desktop-design 36 unmaximized](https://user-images.githubusercontent.com/19801137/34943174-76d15032-f9f2-11e7-9113-66a0c6660252.png)

Maximized, top bar is convex, header bar is concave:
![desktop-design 36 maximized](https://user-images.githubusercontent.com/19801137/34943144-57c8a1ae-f9f2-11e7-9438-88e86c8faefc.png)

[2018-01-15 12:50] kwm14 commented on #32
Find toolkit Sketch file and identify button styles etc.

[2018-01-15 14:58] clobrano commented on #24
Trying to apply here a fix similar to the one for [issue 25](https://github.com/CanonicalLtd/desktop-design/issues/25), but using border-color in place of border-image I am not sure what do to when in hover state.

Currently it is like the following

![segmented-button-hover-before](https://user-images.githubusercontent.com/2883614/34948233-e690be84-fa0c-11e7-831e-b5da417f0737.gif)

Current change

[2018-01-15 15:13] kwm14 commented on #20
Closing issue as it's a duplicate of issue raised here #28

[2018-01-15 15:13] #20 closed

[2018-01-15 15:24] kwm14 commented on #13
@8none1 @didrocks can you provide a screenshot so we have a visual reference. Thanks

[2018-01-15 17:30] kwm14 commented on #38
Icon added to Code section [here](https://github.com/CanonicalLtd/desktop-design/tree/master/User%20icon). Closing issue.

[2018-01-16 15:02] matthewpaulthomas commented on #40
I think the visuals are [this page on client.demo.haus](http://client.demo.haus/switches/switch/). It’s accessible only from within Canonical, so it would need copying elsewhere before other contributors can implement it.

[2018-01-16 16:44] kwm14 commented on #43
@Luxamman @madsrh please find updated colour palette. I've also added a visual and MD file in the Code section of this repo for reference [here.](https://github.com/CanonicalLtd/desktop-design/tree/master/Colour)

[2018-01-16 17:10] matthewpaulthomas commented on #37
Unselected, focused, and selected:
![desktop-design-37-selected](https://user-images.githubusercontent.com/19801137/35002004-1febe7c0-fae0-11e7-826f-104bccffc61c.png)

[2018-01-17 09:43] #43 closed

[2018-01-17 11:11] spencerbygraves commented on #40
Designs have been added to code in the Switch folder.

![switch](https://user-images.githubusercontent.com/9105999/35039891-2074c85a-fb77-11e7-81ea-ada9a962f6a0.png)

[2018-01-17 11:13] spencerbygraves commented on #40
@Luxamman @madsrh please see the correct switch designs above. Thanks.

[2018-01-17 12:21] spencerbygraves commented on #30
@Luxamman @madsrh designs have been added to code in the Check boxes and radio buttons folder.

**Check boxes**
![checkboxes](https://user-images.githubusercontent.com/9105999/35042499-e2521d98-fb80-11e7-880a-96a814cead36.png)

**Radio buttons**
![radio buttons](https://user-images.githubusercontent.com/9105999/35042514-eda45a44-fb80-11e7-9684-1d002b834bb2.png)

[2018-01-17 14:01] clobrano commented on #24
Just to give an idea (third one looks best to me, but it doesn't work like the other widgets)

1. lighter border color
![ambiance-segm-buttons-hover-lighter](https://user-images.githubusercontent.com/2883614/35046387-229a9efa-fb97-11e7-9048-9aa63b28cbdc.gif)

2. darker border color
![ambiance-segm-buttons-hover-darker](https://user-images.githubusercontent.com/2883614/35046399-2b50f5f8-fb97-11e7-9

[2018-01-17 14:27] kwm14 commented on #37
## Updated Nautilus icon view
![nautilus-icon-view](https://user-images.githubusercontent.com/17748020/35047664-8a547b6a-fb92-11e7-8190-4108d670a70c.png)

[2018-01-17 14:31] kwm14 commented on #37
Design spec has been added to Code in the Nautilus icon view folder [here](https://github.com/CanonicalLtd/desktop-design/tree/master/Nautilus%20icon%20view) for reference.

[2018-01-17 14:56] kwm14 commented on #19
@clobrano your MP looks good from Design :+1:

Only one change to make is the link colour which we've recently updated:

### Visual
![llnks](https://user-images.githubusercontent.com/17748020/35048862-37dd6e88-fb96-11e7-9446-f919eaf60c2a.png)

### Spec
- Text color: `#007aa6`
- No underline
- Hover state: Text underline

[2018-01-17 15:26] spencerbygraves commented on #36
@Luxamman @madsrh In the latest designs, both the top bar and application bars have a background colour of #111111 with no opacity. When maximised I suggest we keep the colour and opacity the same, and introduce a 1px rule to indicate where the two meet. I've used #666666 from the colour palette.

I will add the designs to code in the Maximised folder.

![image](https://user-images.githubuserconte

[2018-01-17 15:42] kwm14 commented on #15
@8none1 @didrocks @3v1n0 do you know what the current default size is? Thanks

[2018-01-17 16:04] spencerbygraves commented on #14
The design of the top bar now has a solid colour of #111111. The design can be seen [here](https://github.com/CanonicalLtd/desktop-design/issues/36#issuecomment-358338949)

[2018-01-17 16:36] kwm14 commented on #46
## Icon library update

- Speaking with @didrocks about providing a list of all icons used in the theme as a guide for us to gather all required assets:

     - full-time task to find all icons in the theme
     - no easy way to tell where all icons are going to be displayed
     - as themes can inherit from one or more other themes
     - we will be changing the icon theme with Suru on 18.10, so

[2018-01-17 16:40] clobrano commented on #19
What about the backdrop state? It should keep the new color, or is it ok if it goes gray?

[2018-01-17 16:42] kwm14 commented on #45
Speaking with @didrocks
- Shell only supports the traditional square formats
- Just ship scalable icons as they're reused on different sizes (dialogs, panels etc)

[2018-01-17 16:49] kwm14 commented on #15
## Icon size in Launcher

The default icon size is set to `48px`, but as a user you can change the size of icons in the Dock via Settings.

Speaking with the brand team:
- The default icon size has been worked out with Mark for many years
- It's also a brand issue and sits comfortable in the space
- For users it's about your initial interaction with the desktop
- Going forward the default icon is

[2018-01-17 16:49] #15 closed

[2018-01-17 17:13] kwm14 commented on #27
@8none1 happy with dark theme of Nautilus sidebar style from Ambiance RW.

We would like to make one minor design update to the opacity of the launcher sidebar. I have added a design spec to Code under Launcher sidebar [here](https://github.com/CanonicalLtd/desktop-design/tree/master/Launcher%20sidebar) for reference. @Luxamman @madsrh
### Dark theme
![launcher-dark-desktop](https://user-images.gi

[2018-01-17 17:14] spencerbygraves commented on #16
A field with an error should be white with a 2px border. Designs will be added to code in the Error folder.

![error](https://user-images.githubusercontent.com/9105999/35056471-dbc172c0-fba9-11e7-8941-b59e4b2b438a.png)

[2018-01-17 17:18] kwm14 commented on #19
@clobrano what do you mean by backdrop state? could you add a screenshot so I have a visual reference. Thanks :slightly_smiling_face:

[2018-01-17 17:20] clobrano commented on #19
@kwm14 I meant when the windows goes out of focus. Please refer to the gif above when the shell goes on focus

[2018-01-17 17:32] kwm14 commented on #19
@clobrano oh I see what you mean now. It should remain the same new colour I provided. Thanks

[2018-01-17 19:33] clobrano commented on #19
MP updated
![link-button-blue](https://user-images.githubusercontent.com/2883614/35062846-b0903b1a-fbc5-11e7-9171-3e331ea7183e.gif)

[2018-01-18 10:10] kwm14 commented on #19
@clobrano looks good. Thanks 👍

[2018-01-18 11:06] spencerbygraves commented on #40
@Luxamman @madsrh apologies, the green colour should be the blue awareness colour as documented [here](https://github.com/canonicalltd/desktop-design/issues/43#issuecomment-358021584). I will update the md file in code. Thanks

[2018-01-18 11:26] kwm14 commented on #28
@Luxamman @madsrh would you be able to provide me with a SVG of the Nautilus path bar? Thanks

[2018-01-18 11:48] kwm14 commented on #32
## Buttons
I've created a design spec for buttons which details colour, corner radius and strokes of all our different styles of buttons. I have added the spec in Code under Buttons [here](https://github.com/CanonicalLtd/desktop-design/tree/master/Buttons).

![buttons](https://user-images.githubusercontent.com/17748020/35096723-25e41ee8-fc45-11e7-84eb-e9af2656be5f.png)

[2018-01-18 11:50] kwm14 commented on #19
Design approved and Code needs approving on Launchpad. Closing issue.

[2018-01-18 12:06] madsrh commented on #28
@kwm14 no, sorry. If you find an SVG could you upload it here: https://github.com/CanonicalLtd/desktop-design/

[2018-01-18 12:20] spencerbygraves commented on #48
The latest designs are shown below. There should be two spinner types as shown.

![progress](https://user-images.githubusercontent.com/9105999/35097886-fe4ca83c-fc49-11e7-9352-85a47f67b841.png)

**From the app design guide:**

"Choose whether to use a progress bar or a spinner depending on how important it is for the user to keep track of progress, and how much space you have. For example, a downl

[2018-01-18 14:46] matthewpaulthomas commented on #48
How many spinner types there should be is not relevant to this bug report, which is about determinate progress bars vs. indeterminate progress bars.

I wrote that text in the app design guidelines, about when to use progress bars vs. spinners. But again, that’s not relevant to this bug report, which is about progress bars.

[2018-01-18 14:56] spencerbygraves commented on #48
I should have said the latest designs for the determinate and indeterminate progress bars are below.

I included the spinners for completeness, as they don't appear to be included in the screengrab above. Perhaps they can be implemented at some point.

[2018-01-18 15:00] spencerbygraves commented on #45
The action icons have been added to code in the Icons folder.

[2018-01-18 15:00] #45 closed

[2018-01-18 16:48] kwm14 commented on #28
## Nautilus path bar

- Updated color palette to use correct greys
- Buttons are now distinguished from active vs disabled states
- Pathbar has a consistent style

![nautilus-path-bar-buttons](https://user-images.githubusercontent.com/17748020/35109776-38189e5c-fc6f-11e7-9e2b-b86f46656fe1.png)

[2018-01-18 16:52] kwm14 commented on #28
Design spec can be found in Code under Nautilus path bar [here](https://github.com/CanonicalLtd/desktop-design/tree/master/Nautilus%20path%20bar). Closing issue.

[2018-01-19 08:54] matthewpaulthomas commented on #48
In the screenshot, the spinners are the curly things next to the radio buttons.

Sure, but unfortunately they don’t address the problem in this bug report. The visual designer who produced those designs in 2015/2016 (before Ubuntu Touch switched to the blue accent colour) thought that it wasn’t a problem at all. I think it’s a _minor_ problem: the worst that happens is that — for a second — you th

[2018-01-19 12:16] kwm14 commented on #49
## Focussed and non focussed windows

Changing colour and reducing the transparency of path bar items allows users to distinguish between focussed and non-focussed windows.
- Focussed - bottom center window
- Non-focussed - top left window

![focussed-and-non-focussed](https://user-images.githubusercontent.com/17748020/35150496-81d8cfdc-fd12-11e7-8756-f021a9e4876b.png)

[2018-01-19 14:55] kwm14 commented on #49
Design spec can be found in Code under Focussed and non focussed windows [here](https://github.com/CanonicalLtd/desktop-design/tree/master/Focussed%20and%20unfocussed%20windows).

[2018-01-22 10:49] matthewpaulthomas commented on #38
(Reopening because the bug hasn’t been fixed yet.)

[2018-01-22 10:50] matthewpaulthomas commented on #14
(Reopening because the bug hasn’t been fixed yet.)

[2018-01-22 10:50] matthewpaulthomas commented on #16
(Reopening because the bug hasn’t been fixed yet.)

[2018-01-22 10:52] matthewpaulthomas commented on #19
(Reopening because [the proposal](https://code.launchpad.net/~c-lobrano/ubuntu-themes/ut-fix-link-button-mouseover/+merge/335136) hasn’t been merged yet.)

[2018-01-22 10:53] matthewpaulthomas commented on #27
(Reopening because the specced changes haven’t been made yet.)

[2018-01-22 10:53] matthewpaulthomas commented on #28
(Reopening because the specified changes haven’t been made yet.)

[2018-01-22 10:54] matthewpaulthomas commented on #30
(Reopening because the bug hasn’t been fixed yet.)

[2018-01-22 10:55] matthewpaulthomas commented on #32
(Reopening because the specified changes haven’t been made yet.)

[2018-01-22 10:55] matthewpaulthomas commented on #36
(Reopening because the bug hasn’t been fixed yet.)

[2018-01-22 10:56] matthewpaulthomas commented on #37
(Reopening because the specified changes haven’t been made yet.)

[2018-01-22 10:57] matthewpaulthomas commented on #40
(Reopening because the specified changes haven’t been made yet.)

[2018-01-22 10:58] matthewpaulthomas commented on #49
(Reopening because the specified changes haven’t been made yet.)

[2018-01-22 13:52] 3v1n0 commented on #25
Fix is coming in ubuntu-themes - 16.10+18.04.20180122.1-0ubuntu1 (just landed in `proposed`)

[2018-01-22 13:52] 3v1n0 commented on #19
Fix is coming in ubuntu-themes - 16.10+18.04.20180122.1-0ubuntu1 (just landed in `proposed`)

[2018-01-22 13:53] 3v1n0 commented on #18
Fix is coming in ubuntu-themes - 16.10+18.04.20180122.1-0ubuntu1 (just landed in `proposed`)

[2018-01-22 13:53] 3v1n0 commented on #26
Fix is coming in ubuntu-themes - 16.10+18.04.20180122.1-0ubuntu1 (just landed in `proposed`)

[2018-01-22 13:53] 3v1n0 commented on #22
Fix is coming in ubuntu-themes - 16.10+18.04.20180122.1-0ubuntu1 (just landed in `proposed`)

[2018-01-23 14:10] 3v1n0 commented on #47
Can you please be more specific on this one?

[2018-01-23 14:47] 8none1 commented on #47
@didrocks Can you remember what this one was?

[2018-01-23 14:53] 3v1n0 commented on #36
So the previous state was this:

![](https://launchpadlibrarian.net/336886030/double_gradient.png)
(see [issue](https://bugs.launchpad.net/ubuntu/+source/ubuntu-themes/+bug/1717023))

So we decided to use an inverted gradient for maximized windows. This works ok, but there are other cases where this doesn't work properly (firefox, thunderbird and chrome mostly).

So, if there is another solution f

[2018-01-23 15:00] didrocks commented on #47
How come @3v1n0 have forgotten this! ;)
Basically:
Maximize a GTK2 apps, like thunderbird. Put it in the background, the backdrop is "flat", with a dark titlebar clashing with the menu not changing color.

GTK3 app, menu matches titlebar: https://preview.ibb.co/k4pjPG/Capture_d_cran_de_2018_01_23_15_54_20.png
GTK2 app, menu doesn't match titlebar: https://preview.ibb.co/cEuJjG/Capture_d_cran_de_20

[2018-01-23 15:46] kwm14 commented on #13
Design spec for Gedit tab states added to Code [here](https://github.com/CanonicalLtd/desktop-design/tree/master/Active%20and%20inactive%20tabs%20in%20Gedit).

[2018-01-23 16:53] kwm14 opened #53 "Icon library - Add Devices icon set"
- Make sure they fit Square requirement formatted by GNOME
- Add to Code in repo

[2018-01-23 16:53] kwm14 opened #54 "Icon library - Add Status icon set"
- Make sure they fit Square requirement formatted by GNOME
- Add to Code in repo

[2018-01-23 18:47] 3v1n0 commented on #47
As mentioned in the meeting, the problem isn't GTK2, as both thunderbird and firefox now use GTK3, but it's due to their usage of the style context that is missing some classes which allow us to do such theming.

I've already submitted the [bug upstream](https://bugzilla.mozilla.org/show_bug.cgi?id=1407824) months ago, if no one from mozilla (I'll meet a friend working there next week, so maybe...

[2018-01-24 10:28] Initu opened #55 "Menu"
menu of applications with terminal problem in xorg session

[2018-01-24 10:33] Initu opened #56 "menu of applications with terminal problem in xorg session"

[2018-01-24 10:39] spencerbygraves commented on #47
@3v1n0 Our design related to this can be found [in this issue](https://github.com/CanonicalLtd/desktop-design/issues/36#issuecomment-358338949). It looks most similar to GTK3.

[2018-01-24 10:47] spencerbygraves commented on #48
The task was to find signed off visual designs where they exist, which is shown above.

[2018-01-24 10:49] 3v1n0 commented on #47
@spencerbygraves that solution doesn't apply to ambiance. It's ok for new community theme, but not for the current ubuntu default theme.

[2018-01-24 12:03] kwm14 commented on #53
Devices icon set added to Code in repo [here](https://github.com/CanonicalLtd/desktop-design/tree/master/Icons/Devices), icons in SVG format and fit the square format required by GNOME.

[2018-01-24 12:04] #53 closed

[2018-01-24 14:24] kwm14 commented on #54
Status icon set added to Code in repo [here](https://github.com/CanonicalLtd/desktop-design/tree/master/Icons/Status), icons in SVG format and fit the square format required by GNOME.

[2018-01-24 14:25] #54 closed

[2018-01-24 14:26] #46 closed

[2018-01-25 15:28] spencerbygraves commented on #47
After talking to @3v1n0, we feel it would be best to use the existing design for the ambiance theme. Hopefully the issue will be fixed upstream.

[2018-01-26 12:46] kwm14 commented on #36
Design solution resolved [here](https://github.com/CanonicalLtd/desktop-design/issues/47#issuecomment-359801831).

[2018-01-30 09:59] shivjoshi1996 commented on #55
duplicate #56

[2018-01-30 09:59] #55 closed

[2018-01-31 09:43] shivjoshi1996 commented on #56
Could you please expand on this?

[2018-02-07 10:47] matthewpaulthomas opened #57 "Get complete list of opt-in diagnostics"
@matthewpaulthomas commented on [Wed Feb 07 2018](https://github.com/CanonicalLtd/snappy-design-squad/issues/359)

[2018-02-07 10:49] matthewpaulthomas opened #58 "Installer design for diagnostics"

[2018-02-07 10:51] matthewpaulthomas opened #59 "System Settings design for diagnostics"

[2018-02-07 12:02] matthewpaulthomas commented on #6
`<willcooke> The long tail of millions of settings that can be tweak is probably a phase 2 thing as well`
`<willcooke> That spreadsheet you did which highlights the most user understandable ones it a great list to focus on`

[2018-02-14 14:57] matthewpaulthomas commented on #57
I’ve mailed Will to ask what diagnostics we will be collecting.

[2018-02-14 15:30] 8none1 commented on #57
This Trello card should have everything you need:

https://trello.com/c/QBufNYWO/174-add-a-send-data-to-help-improve-ubuntu-option-to-the-installer-and-to-settings

UI wise, we would like a mechanism in the installer to describe and allow opt out (We would like it on by default because we will then get crash reports which are very valuable to us to spot problems).

The privacy panel in the new (to

[2018-02-15 10:44] matthewpaulthomas commented on #57
@8none1 Thanks. Oddly I can subscribe to that card but can’t comment on it. So a small correction here:

This is a common misunderstanding from those with an engineering POV. For me, the error-reporting dialog was a lucky opportunity to fix a separate problem in Ubuntu. [As I explained in the spec in 2012](https://wiki.ubuntu.com/ErrorTracker#Rationale), “The client interface for the error tracker

[2018-02-15 10:56] 8none1 commented on #57
@matthewpaulthomas you should have access now.
Please could you comment on there too?

[2018-02-15 11:36] matthewpaulthomas commented on #57
Done.

[2018-02-15 11:36] #57 closed

[2018-02-15 20:07] seb128 commented on #57
Saying that those who argue against showing those prompts misunderstand the situation is not accurate, most of us do understand the benefits. The issue is that today most of those dialogs prompt for issues that have no (user visible) impact, often for errors that the system handled fine by retry/respawning the corresponding service. Some are displayed in the next session to report about problems t

[2018-02-15 20:55] popey commented on #57
We are talking about these dialogs, yes?

![image](https://user-images.githubusercontent.com/1841272/36280514-678ba3e4-1292-11e8-8895-9fc9639af123.png)

![image](https://user-images.githubusercontent.com/1841272/36280533-7576f576-1292-11e8-89ce-b576368e3975.png)

We get comments *all* the time from users who have visceral hatred for the "something crashed" popup. They see it as a sign that Ubuntu

[2018-02-19 16:36] matthewpaulthomas commented on #59
[Spec updated](https://wiki.ubuntu.com/ErrorTracker?action=diff&rev2=186&rev1=185).

[Posted to Trello](https://trello.com/c/QBufNYWO/174-add-a-send-data-to-help-improve-ubuntu-option-to-the-installer-and-to-settings#comment-5a8abcf9dcc972e3fcf4e485) for review.

[Mailed ubuntu-devel@](https://lists.ubuntu.com/archives/ubuntu-devel/2018-February/040166.html) for review.

[2018-02-19 16:43] matthewpaulthomas commented on #58
[Spec updated](https://goo.gl/yJ86Qa).

[Posted to Trello](https://trello.com/c/QBufNYWO/174-add-a-send-data-to-help-improve-ubuntu-option-to-the-installer-and-to-settings#comment-5a8abcf9dcc972e3fcf4e485) for review.

[Mailed ubuntu-devel@](https://lists.ubuntu.com/archives/ubuntu-devel/2018-February/040166.html) for review.

[2018-02-20 16:27] matthewpaulthomas commented on #59
[Design clarified](https://wiki.ubuntu.com/ErrorTracker?action=diff&rev2=187&rev1=186) after review by Jeremy Bicha.

[2018-02-22 17:19] matthewpaulthomas commented on #59
There has been no further comment on Trello. And continuing discussion on the mailing list is about whether it should be opt-in or opt-out, not about the design itself. Therefore, I’m marking this as done.

[2018-02-22 17:19] #59 closed

[2018-02-22 17:20] matthewpaulthomas commented on #58
There has been no further comment on Trello. And continuing discussion on the mailing list is about whether it should be opt-in or opt-out, not about the design itself. Therefore, I’m marking this as done.

(One possibility mentioned was making it neither opt-in nor opt-out, but instead forcing the user to choose before continuing. If so, that would require a change in the design. But that is not

[2018-02-22 17:20] #58 closed

[2018-03-07 12:52] 3v1n0 commented on #28
@kwm14 I don't think this solution can be applied to Ambiance, do you have any idea for this (based on @8none1 screenshot)?

[2018-03-07 12:57] 3v1n0 commented on #32
Is still something we want to fix in Ambiance too?

[2018-03-08 14:11] matthewpaulthomas opened #60 "Minimal/standard install choice"
The Desktop team (particularly @8none1 and @seb128) would like to add the choice of minimal vs. standard install to the graphical installer.
- A minimal install includes a Web browser and utilities.
- A normal install includes a Web browser, utilities, office software, games, and media players.

The best place to put this option seems to be [the “Updates and other software” screen](https://docs.go

[2018-03-13 09:20] matthewpaulthomas commented on #60
[Spec updated](https://docs.google.com/document/d/1bZ4yQIVgGaUGSYu3qiUHnQt3ieBZoqunP_DcleHCr3I/edit#heading=h.ecjqube8531d) and shared with @8none1 and @seb128 for feedback.

[2018-03-14 13:29] matthewpaulthomas commented on #60
Thanks to @Greggless for reviewing the new design.

[2018-03-14 13:29] #60 closed

[2018-03-15 08:11] matthewpaulthomas opened #61 "First-login window changes"
Changes are necessary to address comments on [the first-login window design](https://docs.google.com/a/canonical.com/document/d/1IDQwpqTsB7Cmw413ApXioHeO2E9nv8bHugjxCOg9A-Q/edit).

These are urgent because the intention is to ship it with Ubuntu 18.04.

[2018-03-16 13:35] azzar1 opened #62 "Authentication in gnome-software using gnome-online-accounts"
In Bionic we introduced an Ubuntu Single Sing-On provider in Gnome Online Accounts:
![image](https://user-images.githubusercontent.com/3677105/37522998-f4bdc9f0-2925-11e8-94b9-9e696f40d43a.png)

The idea is to use this e.g. in Ubuntu Software to purchase snaps. Gnome-online-accounts requires the user to use gnome-control-center to add/remove accounts.  Can you please help designing the user intera

[2018-03-20 15:30] azzar1 commented on #62
Also, please note that atm there is no way to logout once logged in. So what do you think about the possibility to add a way to logout?

[2018-03-22 09:55] shivjoshi1996 commented on #6
@carlaberkers I think @matthewpaulthomas wanted you to review this work, hence why I added you on to the card.

[2018-03-22 18:54] CDrummond commented on #27
After posting some comments about this on the Ubuntu community site, I was directed here.

Basically, I think the current implementation (from the PPA) the nautilus sidebar has the following issues:

1. The look makes it appear as if the icon is separate from the text, which it is not. i.e. it looks as if the text labels are sub-items of the selected icon.
2. As only the text portion reacts to hov

[2018-03-22 19:07] CDrummond opened #63 "Active tab not attached to notebook"
In the current implementation of Ambiance (in 17.10 and the PPA for 18.04) tabs are not attached to notebooks.

I'm not 100% familiar with the Gtk terminology (being a Qt person), but the 'frame' of the notebook is completely solid - whereas there should be no line under the active tab.

Current tabs from nautilus:

![screenshot from 2018-03-22 19-00-25](https://user-images.githubusercontent.com/1

[2018-03-22 19:15] CDrummond opened #64 "Hard to distinguish active item in headerbar"
I'm not sure of the widgets name, but in the following screenshot for gtk3-widget-factory, its hard to determine which of `Page 1 | Page 2 | Page 3` is active:

![screenshot from 2018-03-22 19-13-50](https://user-images.githubusercontent.com/1141694/37792956-306e729a-2e05-11e8-89c5-611ce4ff5e31.png)

Perhaps the active item should use a bold font?

[2018-03-22 19:17] matthewpaulthomas commented on #6
@carlaberkers After I designed [the interface runtime prompts](https://github.com/CanonicalLtd/snappy-design-squad/issues/98), I learned that they would not be implemented for Ubuntu 18.04.

This means that no snap store can rely on the existence of the prompts, unless that store is exclusive to systems _newer_ than Ubuntu 18.04, systems where the prompts are implemented.

The Snap Store is curren

[2018-03-22 19:24] CDrummond opened #65 "Use Kvantum and QGnomePlatform for Qt applications"
(I'm not 100% sure if this is the correct place for this, or not - so I apologise in advance if it is not...)

Currently Qt apps are set to use the Gtk2 theme via the QGtkStyle plugin. This Qt style uses Gtk2 to paint into pixmaps, which are then drawn where the Qt widgets would be. Whilst this is better than no integration, it has a few issues. e.g. if a Gtk2 style does not use scrollbar arrows,

[2018-03-22 19:30] jbicha commented on #19
There's a complaint about the link color changing from orange to blue.
See https://launchpad.net/bugs/1749103

[2018-03-23 10:48] matthewpaulthomas commented on #61
Issues resolved:
- Explained why I didn’t try to describe the different data collection frequencies
- Reordered the steps so that Livepatch is before collecting data about whether you use Livepatch
- Livepatch radio buttons and Web frame replaced by a pushbutton…

[2018-03-23 14:50] carlaberkers commented on #6
@matthewpaulthomas even if it would be implemented for 18.04, I don't think we should be responsible for these strings. When it comes back up: this is a good example of requests where we can ask the engineering team for a proposal and then we can review.

Calling this descoped and closed for now

[2018-03-23 14:50] #6 closed

[2018-03-23 15:46] gunnarhj commented on #19
I'm one of the complainers. :wink:

AFAIU, this issue is about modifying the link button behavior. Isn't there a way to do that without changing the link color globally? Or, if that can't be done easily, is there a way to control the link color specifically for e.g. yelp?

GNOME :heart: blue - Ubuntu :heart: orange

[2018-03-23 16:39] clobrano commented on #19
I should double check to see if keeping the orange color in yelp is possible, but in general it's easy to bring it back to orange everywhere. First MP version was like that, than @kwm14 asked for the change

[2018-03-24 15:54] madsrh commented on #28
The dark gray currently used for the disabled state, looks IMO more like a pressed (down state) button.

What about something like this: (using the screenshot from [this issue](https://github.com/CanonicalLtd/desktop-design/issues/27) as reference)

![nautilus-ambiance](https://user-images.githubusercontent.com/3986894/37865873-e111d71c-2f82-11e8-9f4e-37f44c6328e7.jpg)

[2018-03-25 12:46] madsrh commented on #64
I believe this is the stackswitcher. What about white text for selected and an inner bevel 3D-ish effect for the button?

![ambiance](https://user-images.githubusercontent.com/3986894/37875109-22ba1f36-303b-11e8-8d7b-79795288a548.jpg)

[2018-03-26 07:35] matthewpaulthomas opened #66 "Visual design for first-login window"
[The first-login window](https://docs.google.com/a/canonical.com/document/d/1IDQwpqTsB7Cmw413ApXioHeO2E9nv8bHugjxCOg9A-Q/edit) needs visual design. In particular:
- The “What’s new in Ubuntu” screen needs a screenshot of a pristine Ubuntu 18.04 setup with one non-maximized window open.
- The “Get more apps” screen needs mocking up to illustrate how current and available apps should be laid out.
-

[2018-03-26 07:36] matthewpaulthomas commented on #61
Reviewed with @carlaberkers. Reported #66 for the visual design.

[2018-03-26 07:36] #61 closed

[2018-03-26 08:47] kwm14 opened #67 "Ubuntu 18.04 first-login window"

[2018-03-26 22:38] 3v1n0 commented on #28
Yeah, it's a really good idea... Could you help with some css code for that?

[2018-03-27 02:36] madsrh commented on #28
@3v1n0 I wish 😞
@clobrano do you have time to look into this? and if you do, could you add the pressed state for [the stackswitcher](https://github.com/CanonicalLtd/desktop-design/issues/64) as well?

[2018-03-27 06:58] clobrano commented on #28
Hi! Sure, let me see what can I do

[2018-03-28 06:33] 3v1n0 commented on #28
@madsrh in any case providing some specs of the gradients or colors you've used could help I guess :)

[2018-03-28 08:55] matthewpaulthomas commented on #62
@azzar1 I’m (pleasantly!) surprised to see a native GUI for Ubuntu SSO sign-up, since I’d been told that its API was deprecated.

Unfortunately I don’t understand what you mean by “login and/or choose from an account”. Do you mean, the ability to grant/deny an app (like software-properties-gtk) access to your SSO account, and choose between them if you have more than one? If so, why doesn’t gnome-

[2018-03-28 10:50] azzar1 commented on #62
@matthewpaulthomas First of all a gnome-online-account client (e.g. gnome-software, software-properties) CAN access the list of accounts without asking user-permission.

The login dialog is created client-side by gnome-sofware in order to let the user select an account. Just to make it clear, in theory gnome-software could pick a random ubuntu-sso account and use its credentials. software-properti

[2018-03-29 14:55] spencerbygraves commented on #66
**First-login window**
![image](https://user-images.githubusercontent.com/9105999/38095647-df77bdec-3368-11e8-9f20-a1a3fe0d3ccf.png)

**Livepatch**
![image](https://user-images.githubusercontent.com/9105999/38095689-f4cbee98-3368-11e8-99ef-7744fa5583d5.png)

**Help improve Ubuntu**
![image](https://user-images.githubusercontent.com/9105999/38095722-06b1e752-3369-11e8-9ffe-78dc9462aab5.png)

**Get

[2018-03-31 02:35] fitojb commented on #19
Oh, puhlease. Finally we have a nice color for links without contrast issues and which doesn’t give me headaches!!

[2018-03-31 10:46] clobrano commented on #28
I just want to say that this might take a bit, since I do not know how to redo background and border images, so I'm going full css :smile:

[2018-04-02 17:09] gunnarhj commented on #19
Personally I can possibly get used to the blue. What really made me react was the lack of information about this global change of the link color. Also, when @3v1n0 closed the bug report and referred to this issue, I expected to see some kind of justification for the change of link color. I see no such thing.

Please note that the Ubuntu Desktop Guide, which you see when running the `yelp` command,

[2018-04-03 12:03] fitojb commented on #19
@gunnarhj https://docs.vanillaframework.io/en/settings/color-settings

[2018-04-03 12:32] gunnarhj commented on #19
Thanks @fitojb. That was news to me, and provides the justification I asked for.

I take it that the answer to my last question is "yes" then, and that there are reasons to have a look at the style sheets used at [help.ubuntu.com](https://help.ubuntu.com/).

[2018-04-03 20:07] 3v1n0 commented on #28
There are some .svg's in the assets dir, but not sure if there are them all.

[2018-04-03 20:26] clobrano commented on #28
I almost forgot to commit this :smile:
So, this is the change of pathbar according to @madsrh's mockup

![image](https://user-images.githubusercontent.com/2883614/38273893-68677750-378d-11e8-8450-d663e47e0de1.png)

![image](https://user-images.githubusercontent.com/2883614/38273927-81b90ade-378d-11e8-9be1-bcf0f5c9909c.png)

I wonder if you would like to consider a version with less shadow, similar

[2018-04-03 20:48] madsrh commented on #28
As always, this look really good @clobrano but would it be possible to make the border for disabled buttons blend with the background like the mockup?

[2018-04-03 20:54] 3v1n0 commented on #28
Great @clobrano!

Maybe just a little less shadow, something in between the two would be great :)

[2018-04-03 20:57] clobrano commented on #28
@madsrh probably it's because I took the picture with communitheme session

This is another one I took yesterday with Ubuntu default session, with a little less shadow

![image](https://user-images.githubusercontent.com/2883614/38275455-340912ca-3792-11e8-8560-ee5d68ff4afc.png)

[2018-04-03 21:17] madsrh commented on #28
@clobrano If there should be a color difference in the button borders, I don't see it :worried: They look like #363632 here. Just so we're not misunderstanding each other, this is what I'm referring to:

![borders](https://user-images.githubusercontent.com/3986894/38276388-2098f5ae-3795-11e8-8363-57c1aeaad927.gif)

[2018-04-03 21:44] clobrano commented on #28
My bad, I misunderstood. I'll try with the border

[2018-04-04 15:37] 8none1 commented on #66
In First Login Window the "Application Switcher" is actually "Application Menu".  But, it's not all menus, only some (!) so I don't know how to explain it properly.  Application Menu is probably OK for now.

[2018-04-07 16:37] clobrano commented on #28
Alright, here a little update. I reduced the shadow (this should be the minimum), and ported the changes on Radiance.

I spent some time adjusting the border images for the disabled state (there is no button-toolbar image for disabled state), but I must admit I am not happy with the result. Lightening the dark part of the border, makes the bright part shine more, which is undesired of course.

Amb

[2018-04-08 07:10] clobrano commented on #28
Thanks to @madsrh, who updated the border images, the change should be ready now

![image](https://user-images.githubusercontent.com/2883614/38464343-9fa88970-3b0c-11e8-81e2-fc3ca38f1c3c.png)

![image](https://user-images.githubusercontent.com/2883614/38464346-a99a83ca-3b0c-11e8-9a40-2d5d96b3adc3.png)

[2018-04-08 18:40] pojntfx commented on #65
I wrote about this in the community hub some time back as well. Kvantum even has the Ambiance theme right now!

[2018-04-09 10:50] matthewpaulthomas commented on #62
@azzar1 Thanks for those helpful answers.

I do very much think that gnome-online-accounts should provide its own authentication UI — and, when confined at least, not even _allow_ access otherwise — for the same reason as [ubuntu-online-accounts on Ubuntu Touch](https://wiki.ubuntu.com/OnlineAccounts?action=recall&rev=29#App_access), and the same reason as PolicyKit: because it’s something that we

[2018-04-09 11:02] 8none1 commented on #62
@mpt wrote: "@azzar1 I’m (pleasantly!) surprised to see a native GUI for Ubuntu SSO sign-up, since I’d been told that its API was deprecated."

It's the API to *create* new accounts that's been deprecated.

[2018-04-09 15:42] matthewpaulthomas commented on #62
@azzar1 Before I get another designer to review this, can you let me know whether at least I’ve understood the sign-in use case correctly?
![ubuntu-software](https://user-images.githubusercontent.com/19801137/38507417-57a8688a-3c14-11e8-9dba-59165e19fe6b.png)

(I think the sign-out use case involves completely separate UI.)

[2018-04-09 16:03] carlaberkers commented on #66
@8none1 I'm not sure what @matthewpaulthomas original intention was but I guess we could highlight activities instead if that is ok with him?

How would you build that screen, do you need an asset with the images and text next to it or do you need just the image? We'll need to ask @kwm14 to help with the assets as @spencerbygraves is on holiday this week.

[2018-04-09 16:11] 8none1 commented on #66
Re: building the screen - it would be a lot easier for us to take the image, complete with labels in the correct location.  Trying to place text at exactly the right location will be very hard because people could resize the window/have different screen sizes, dpis etc.

[2018-04-09 21:38] carlaberkers commented on #66
Alright, will ask if one of the other visual designers can prepare it for you tomorrow.

[2018-04-10 09:37] carlaberkers commented on #66
@lyubomir-popov will look into @spencerbygraves files and update the file. Lyubo you can find will on IRC as willcooke if you have any questions

[2018-04-10 10:46] azzar1 commented on #62
@matthewpaulthomas This looks good the only problem that I see is that we can't implement the "No Ubuntu One accounts stored" design because it's not possible to use an embedded WebView to perform the sign-in.  The others two looks fine and doable from my point of view.

[2018-04-10 11:51] lyubomir-popov commented on #66
Trying to locate files @spencerbygraves worked on. This should be discoverable in dropbox's history, but I only see the 20 or so most recent changes and this file is not among them. @pmahnke could you help?

[2018-04-11 09:37] matthewpaulthomas commented on #62
So, what’s the alternative?

If it’s opening a browser window,
1. what magical properties does a browser window have that a WebView doesn’t? 🤔
1. how would we tell when you’ve finished signing in or registering?

[2018-04-11 09:56] lyubomir-popov commented on #66
Agreed with Will to follow up on Monday as I can't locate the files.

[2018-04-11 11:27] lyubomir-popov commented on #66
@8none1 Does this look ok?
![first-login window](https://user-images.githubusercontent.com/2741678/38614047-b86d1862-3d83-11e8-9e1c-79d011f9f52b.png)

[2018-04-11 14:49] 8none1 commented on #66
Looks good, thanks!

[2018-04-12 09:46] carlaberkers commented on #66
@lyubomir-popov can you please provide the asset on a transparent backgound?

@robert-ancell per explicit request from @jamiedbennett we show only featured snaps, not the installed ones.

[2018-04-12 09:53] lyubomir-popov commented on #66
@robert-ancell Are the images below ok? Tightly cropped and exported at 1x, 2x, 3x. Let me know if you prefer more white space around the edges.

![new features 3x](https://user-images.githubusercontent.com/2741678/38669961-7a281298-3e3f-11e8-8b10-c9211be775eb.png)
![new features 1x](https://user-images.githubusercontent.com/2741678/38669962-7a402f5e-3e3f-11e8-994d-171c70f263fb.png)
![new features

[2018-04-12 10:02] robert-ancell commented on #66
@lyubomir-popov they look perfect! I can add margins around the image as necessary.

[2018-04-12 10:03] lyubomir-popov commented on #66
@robert-ancell Great, can we close this?

[2018-04-17 08:10] 8none1 commented on #66
Is it possible to get an SVG of this image so that we can make the strings translatable?

[2018-04-18 22:30] madsrh commented on #61
The backwards/forward buttons <> colors looks very similar because they are so far apart. Why not just remove the button completely when it's deactivated?

![image](https://user-images.githubusercontent.com/3986894/38961355-8b8d561e-4368-11e8-932b-6b4e29e844e1.png)

[2018-04-18 22:30] jbicha opened #101 "First login: What's new: wording suggestions"
1. I suggest using _Dock_ instead of _Launcher_ because in the Settings app, it is referred to as _Dock_.

2. I think one of the unusual parts of GNOME Shell's design is that notifications are kept in the clock menu. Therefore, I suggest naming that item _Clock, calendar, and notifications_

Since this image currently embeds the labels and are not translated, I guess we could still make adjustment

[2018-04-18 22:31] jbicha commented on #66
I filed https://github.com/CanonicalLtd/desktop-design/issues/101

[2018-04-18 23:23] jbicha opened #102 "first-login: "location you choose" or "location you chose""
"first login"  _Welcome to Ubuntu_ wizard

According to the [Google doc](https://docs.google.com/a/canonical.com/document/d/1IDQwpqTsB7Cmw413ApXioHeO2E9nv8bHugjxCOg9A-Q/edit), the wording for the _Help improve Ubuntu_ page should say "the approximate location you chose", but in https://github.com/CanonicalLtd/desktop-design/issues/66#issuecomment-377261986 it has the wording "the approximate locat

[2018-04-18 23:54] robert-ancell commented on #66
Thanks @lyubomir-popov for the images. I think it's going to be quite hard to get either technique to work well in GTK+ but I'll try my best...

[2018-04-19 10:38] matthewpaulthomas commented on #62
Revised design:

No Ubuntu One accounts stored
![ubuntu-software](https://user-images.githubusercontent.com/19801137/38986966-1632a352-43c6-11e8-9f30-4fada71b78ce.png)

[2018-04-19 11:47] azzar1 commented on #62
Are we going to show this every time an Ubuntu One account is required or are we going to remember the user choice?

[2018-04-19 12:12] jbicha commented on #101
@Astrowatt You can run the settings app in English with this command:

`LANGUAGE=en gnome-control-center`

_Launcher_ was the word used for the similar feature in Unity but in 17.10 and 18.04 it is named _Dock_ in part because it uses a simplified version of the _Dash to Dock_ extension for GNOME Shell.

[2018-04-19 14:10] jbicha opened #105 "first login: Should clicking "Open Software" close the Welcome wizard?"
gnome-initial-setup 3.28.0-2ubuntu6
Ubuntu 18.04

I suggest that clicking the _Open "Software" now_ button should also close the _Welcome to Ubuntu_ wizard since there is nothing else to be done.

![ubuntu-welcome-20180419-final-page](https://user-images.githubusercontent.com/876259/38996627-9a2a601c-43b9-11e8-95e2-93fcea5a93f5.png)

[2018-04-19 14:10] jbicha commented on #66
And https://github.com/CanonicalLtd/desktop-design/issues/105 is another follow-up.

[2018-04-20 07:27] matthewpaulthomas commented on #62
I think the only point in prompting again would be as a security measure, in case you’ve left your session unattended and your 7-year-old kid tries to buy Super-Expensive Video Editor Pro Edition.

In that case, though, merely saying “To buy software, you need to use your Ubuntu One account” wouldn’t protect you at all. What you should actually see at that point is the Online Accounts sign-in dial

[2018-04-23 09:25] Greggless commented on #62
### Review
@matthewpaulthomas looks clean simple, and follows conventions of other sign in/out dialogs. I assume `[Sign in / register]` opens...

but just to clarify:

How is the calculated? Time AFK? Switching applications? Logged out of session?

Would the sign out experience be part of this issue or is that another piece of work?

[2018-04-24 11:15] matthewpaulthomas commented on #62
@Greggless Correct.

Those are all good possibilities. But I think that’s outside the scope of this issue — probably something to design after software purchases have been integrated.

[2018-04-27 15:04] matthewpaulthomas commented on #62
So, it seems that gnome-software has no menu bar, and nor does it have any other out-of-the-way UI where we could put things like account status and sign-out.

In other Gnome apps — for example, Files, Calendar, Text Editors, and To Do — there is a hamburger menu. Hamburger menus are an anti-pattern in desktop apps (for most, though not all, of the same reasons that they’re an anti-pattern in Web

[2018-04-27 15:38] Greggless commented on #62
1. Is the 'burger' menu an icon that is used in Gnome/Ubuntu? Would a more conventional 'account' icon be more appropriate?
2. The [design above](https://github.com/CanonicalLtd/desktop-design/issues/62#issuecomment-382689517) implies that you can be signed in with multiple accounts (AIUI). How does the sign out work with multiple accounts?
3. If you are already signed in, is there a need to show

[2018-04-27 15:47] matthewpaulthomas commented on #102
Well spotted @jbicha. By “chose” I was referring to the time zone you have already chosen in the installer or in oem-setup. “Choose” would not make sense here, because there is no UI for choosing again before the report is sent.

[2018-04-27 15:47] #102 closed

[2018-04-27 15:48] matthewpaulthomas commented on #102
(To explain the closing: this repo is design-only, and here there’s nothing to change in the design. If code changes are still required, please track those on Launchpad if necessary.)

[2018-04-30 09:30] matthewpaulthomas commented on #105
Thanks for the suggestion.

99% of the time, I strongly advocate following UI conventions of the platform. Consistency is important, especially when an app will be used repeatedly and/or quickly at the same time as other apps that do follow the convention.

Occasionally, though, a platform UI convention is _so_ bad that apps do measurably better by disregarding it. A famous example is hamburger me

[2018-04-30 09:30] #105 closed

[2018-04-30 10:30] matthewpaulthomas commented on #101
1\. Last September, Seb asked me how we should refer to the launcher in the settings UI. My answer was “Launcher”. @didrocks said that might be a problem, because that term had a “Unity connotation”, and the new launcher was based on the Dash-to-Dock extension. I replied:

is not nearly as important as familiarity for millions of Ubuntu users.

till now, a different name might make more sense — bu

[2018-04-30 11:09] matthewpaulthomas commented on #62
@Greggless Good questions.

1. I gave examples of other Gnome/Ubuntu apps where this menu is used (“for example, Files, Calendar, Text Editor[], and To Do”) and mentioned that I was putting this menu in the same place as other apps do. I like your suggestion of using an account-ish icon instead. But I expect the menu would accumulate items in future. Some of those items might be account-related (P

[2018-04-30 16:05] matthewpaulthomas commented on #62
@Greggless As I said, I thought it would be slightly clearer. To be more specific, if you were looking for the “Sign In…” item and found it disabled, that would at least reassure you that you were in the right place, as opposed to just finding a “Sign Out” item. (But then, they’re often mutually exclusive on Web sites, so maybe I’m worrying over nothing.)

A second, temporary, reason is that a men

[2018-05-01 10:33] matthewpaulthomas commented on #62
Following discussion this morning, I’m updating the design to follow my proposal above, where “Sign In…” changes to a disabled “Signed in as {ID}”.

![ubuntu-software-menu](https://user-images.githubusercontent.com/19801137/39470047-77459e76-4d33-11e8-8219-832ad7e83c0d.png)

[2018-05-01 15:17] matthewpaulthomas commented on #101
@spencerbygraves If the text is still embedded in the graphic, this now needs an updated graphic please.

![first-login-help](https://user-images.githubusercontent.com/19801137/39478723-18997bf4-4d5b-11e8-957a-10938507c19e.png)

[2018-05-02 08:48] #62 closed

[2018-05-02 09:31] spencerbygraves commented on #101
@jbicha @matthewpaulthomas Here's an SVG with the updated text. Thanks.

[New features.svg.zip](https://github.com/CanonicalLtd/desktop-design/files/1966685/New.features.svg.zip)

![image](https://user-images.githubusercontent.com/9105999/39516110-d7a21aea-4df3-11e8-8f19-20c4f9647679.png)

[2018-05-02 11:37] jbicha commented on #101
@spencerbygraves @matthewpaulthomas
Please keep _Window switcher_ and _Application menu_ as they were in the first image in this thread.

[2018-05-02 11:48] jbicha commented on #102
@gunnarhj Do you have any suggestions for how we could make this string change in English without breaking translations?

Do we need to keep both the old string and the new string because users doing a clean 18.04 install won't receive the SRU of gnome-initial-setup until after the (first) user completes the welcome wizard?

[2018-05-02 12:02] gunnarhj commented on #102
@jbicha: If you now upload with the new string, and notify the translators about it, the old string will still be in the .mo files until the first langpack update, and thus fresh installs correctly translated (of the incorrect string...). That's the way I see for a relatively smooth change.

[2018-05-02 12:05] gunnarhj commented on #102
(Artificially having both strings in the template would be to overdo it, wouldn't it?)

[2018-05-02 12:06] jbicha commented on #102
@gunnarhj Ok, but I think language packs are installed and/or updated at the end of the install (assuming internet access) but other SRUs (or even security updates) are downloaded (optionally) but not installed. That means that your suggestion would break as soon as we have a language pack update, right?

[2018-05-02 13:42] spencerbygraves commented on #101
@jbicha Updated.

[New features.svg.zip](https://github.com/CanonicalLtd/desktop-design/files/1967471/New.features.svg.zip)

[2018-05-02 14:24] jbicha commented on #101
@spencerbygraves Could you also include the .png version? The current implementation doesn't use the .svg version. Thanks!

[2018-05-02 15:18] spencerbygraves commented on #101
@jbicha No problem, here you go. Thanks

![new features no text](https://user-images.githubusercontent.com/9105999/39532244-61f042a0-4e24-11e8-881d-c3d15d4a68d1.png)
![new features](https://user-images.githubusercontent.com/9105999/39532246-62064c6c-4e24-11e8-8ef6-9a2349464e05.png)

[2018-05-02 15:42] jbicha commented on #101
The second image (the one with the labels) is much larger (1408 x 642 px) than the current image in bionic (704 x 342 px). Could you keep the same dimensions as the current image?

[2018-05-02 16:41] spencerbygraves commented on #101
@jbicha Sorry, I saved it x2. Here you go...

![new features](https://user-images.githubusercontent.com/9105999/39536969-0f372f40-4e30-11e8-8975-48e6bb50b262.png)

[2018-05-03 13:53] seb128 opened #109 "first-login: should "Software" be "Ubuntu Software"?"
The issue has been reported on https://bugs.launchpad.net/ubuntu/+source/gnome-initial-setup/+bug/1767281

"The "Software" mentioned in the "Ready to go" tab will link to the "Ubuntu Software".

Maybe this string should be changed to "Ubuntu Software" instead."

[2018-05-03 23:09] jbicha opened #110 "first-login: tweak location formatting"
In the _Welcome to Ubuntu_ wizard, my location is shown as `America/New_York`. This has a few issues.

1. I'd expect the `_` to be removed so `America/New York'

2. Should we include the region or not?
a. `New York` is a bit bad because I am in Florida and New York is over 1000 miles away from me (but we share the same time zone currently.) `Shanghai` is a similar problem for China.
b. On the othe

[2018-05-04 05:02] robert-ancell commented on #66
I just implemented translatable support for this by using an image without labels and adding GTK+ elements to draw the translatable labels. In doing this I noticed that the "Close button" label is likely to overlap the background if it gets longer. So I think we need to move it outside the background (as shown in the WIP below). @lyubomir-popov - does this seem like a reasonable solution and if so

[2018-05-04 07:32] matthewpaulthomas commented on #101
@jbicha This looks all done now. Please reopen if there’s anything we’ve missed.

[2018-05-04 07:32] #101 closed

[2018-05-04 09:36] lyubomir-popov commented on #66
hi @robert-ancell, just to confirm - which image format did you use svg or png? attaching a png but if you prefer I'll export as svg too.

![first-login window embedded](https://user-images.githubusercontent.com/2741678/39621544-0be7fc7c-4f87-11e8-94ff-f8421deb8254.png)

[2018-05-04 22:33] robert-ancell commented on #66
I did use .png, thanks

[2018-05-04 22:35] robert-ancell commented on #66
Note the provided image is higher resolution and not tightly cropped - I'm happy to crop and scale before using it, or should it be regenerated?

[2018-05-08 03:31] robert-ancell commented on #66
I scaled and cropped to this:

![ubuntu-changes](https://user-images.githubusercontent.com/126560/39736566-bdc8eeec-52d4-11e8-8ac1-c01d00cd5474.png)

Which looks like this in the window:
![screenshot from 2018-05-08 15-30-59](https://user-images.githubusercontent.com/126560/39736580-d278dff0-52d4-11e8-8118-b1d7ac6c6029.png)

Shout out if this looks wrong.

[2018-05-08 09:05] lyubomir-popov commented on #66
@robert-ancell The higher resolution was to account for retina displays (your screenshot looks  a little blurry on my screen). Can you give me the exact width and height you need? I'll can give you two files, one at 1x and one at 2x resolution for higher res screens.

[2018-05-10 22:54] robert-ancell commented on #66
@lyubomir-popov the screenshot above is the window space we have available for the image - so it can be any size as long as it leaves enough space for the labels. The scale of the original images seems appropriate to me. Other than that, just make it tightly cropped and I can add appropriate spacing for the labels.

I'm currently finding out how to do high-dpi support in GTK+.

[2018-05-11 15:36] lyubomir-popov commented on #66
@robert-ancell Attaching tightly cropped versions. Could you leave more space between the second line of copy and the image? Not sure what the standard vertical spacing amounts used in ubuntu are, but roughly 2 empty lines of copy worth of white space (or line-heights if it is html-like) would be better I think.

![first-login window embedded 2x](https://user-images.githubusercontent.com/2741678/3

[2018-05-15 08:38] #66 closed

[2018-06-01 06:26] mymike00 opened #112 "Spinner is good only on white backgrounds"
the [spinner](https://github.com/CanonicalLtd/desktop-design/blob/master/Toolkit%20%26%20Patterns/Theme/Progress/spinner.svg) icon can be only used on white background due to the three white shapes that spin on the orange ring.
The spinner should have 3 orange shapes with no shapes between them, so transparent space, in order to show the color of the background where we would like to place that ic

[2018-06-08 08:57] matthewpaulthomas opened #113 "[gnome-software] Verified publisher upstream"
We should report an issue [on GitLab](https://gitlab.gnome.org/Community/Design/app-mockups/issues), presenting [our initial design work on verified publishers](https://github.com/CanonicalLtd/snapcraft-design/issues/461), and proposing the feature for upstream gnome-software.

[2018-06-08 09:03] matthewpaulthomas opened #114 "[gnome-software] Publisher pages upstream"
We should report an issue [on GitLab](https://gitlab.gnome.org/Community/Design/app-mockups/issues), presenting our initial design work on publisher pages (logo, title, list of apps), and proposing the feature for upstream gnome-software.

[2018-06-08 09:12] matthewpaulthomas opened #115 "[gnome-software] Customizable header artwork upstream"
We should report an issue [on GitLab](https://gitlab.gnome.org/Community/Design/app-mockups/issues), presenting initial design work on customizable header artwork for apps, and proposing the feature for upstream gnome-software.

To demonstrate that the feature is viable, we would need:
- mockups of ~3 examples of real apps using relevant custom header artwork
- mockups of ~3 examples of real apps

[2018-06-08 10:42] matthewpaulthomas opened #116 "[gnome-software] Magazine view upstream"
We should report an issue [on GitLab](https://gitlab.gnome.org/Community/Design/app-mockups/issues), presenting initial design work on the “magazine view” for the front page, and proposing the feature for upstream gnome-software.

Even with a very rough initial wireframe, we would need accurate text+illustrations for several articles to demonstrate that the feature is viable.

[2018-06-08 11:18] matthewpaulthomas opened #117 "[gnome-software] Reviewer credibility labels upstream"
We should report an issue [on GitLab](https://gitlab.gnome.org/Community/Design/app-mockups/issues), presenting initial design work on tagging reviewers as “Top reviewer” or similar.

[2018-06-08 12:53] matthewpaulthomas opened #118 "[gnome-software] Report/flag apps and entire publishers"
We should design UI for reporting/flagging a snap, and similarly (once [publisher pages](https://github.com/CanonicalLtd/desktop-design/issues/114) are implemented) reporting/flagging an entire publisher.

The UI should guard against people flagging snaps merely because they are buggy or disliked. This probably involves requiring users to specify the particular reason for flagging: copyright/trade

[2018-06-08 14:39] matthewpaulthomas opened #119 "[gnome-software] App preview popup upstream"
We should report an issue [on GitLab](https://gitlab.gnome.org/Community/Design/app-mockups/issues), presenting initial design work on the “app preview popup”, and proposing the feature for upstream gnome-software.

[Discussed and voted on during the gnome-software design sprint.]

[2018-06-08 14:42] matthewpaulthomas opened #120 "[gnome-software] Expandable app card upstream"
We should report an issue [on GitLab](https://gitlab.gnome.org/Community/Design/app-mockups/issues), presenting initial design work on the “expandable app card”, and proposing the feature for upstream gnome-software.

This might be presented together with the app preview popup work (#119), since they are alternative ways of providing progressive disclosure.

[Discussed and voted on during the gnom

[2018-06-08 14:55] matthewpaulthomas opened #121 "[gnome-software] Trending categories/subcategories upstream"
We should do initial design work on a “trending category/subcategory” feature for gnome-software. Then we should report an issue [on GitLab](https://gitlab.gnome.org/Community/Design/app-mockups/issues), presenting the initial design work and proposing the feature for upstream.

[Discussed and voted on during the gnome-software design sprint.]

[2018-06-08 15:02] matthewpaulthomas opened #122 "[gnome-software] Show ranking within a category/subcategory"
We should design UI for a snap view to show the snap’s ranking within a category or subcategory.

The same ranking could appear in snap Web directory snap views.

This feature is not relevant to gnome-software because popularity isn’t recorded for non-snap packages.

[Discussed and voted on during the gnome-software design sprint.]

[2018-06-22 13:41] #28 closed

[2018-06-22 13:42] #25 closed

[2018-06-22 13:43] #22 closed

[2018-06-25 13:51] 8none1 commented on #64
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:51] #64 closed

[2018-06-25 13:51] 8none1 commented on #63
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:51] #63 closed

[2018-06-25 13:51] 8none1 commented on #51
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:51] #51 closed

[2018-06-25 13:51] 8none1 commented on #49
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:51] #49 closed

[2018-06-25 13:51] 8none1 commented on #47
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:51] #47 closed

[2018-06-25 13:51] 8none1 commented on #39
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:51] #39 closed

[2018-06-25 13:51] 8none1 commented on #38
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:51] #38 closed

[2018-06-25 13:51] 8none1 commented on #37
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:51] #37 closed

[2018-06-25 13:52] 8none1 commented on #35
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:52] #35 closed

[2018-06-25 13:52] 8none1 commented on #33
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:52] #33 closed

[2018-06-25 13:52] 8none1 commented on #14
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:52] #14 closed

[2018-06-25 13:52] 8none1 commented on #13
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:52] #13 closed

[2018-06-25 13:52] 8none1 commented on #19
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:52] #19 closed

[2018-06-25 13:52] 8none1 commented on #31
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:52] #31 closed

[2018-06-25 13:52] 8none1 commented on #32
We wont fix this now.  All future work will go towards communitheme and so this issue can be closed.

[2018-06-25 13:52] #32 closed

[2018-06-25 13:55] CDrummond commented on #65
This can probably be closed. KVantum's author has refused a request to change from GPL to LGPL, and from discussions on the community hub this would appear to be a blocking issue for Ubuntu including this by default.

[2018-06-25 14:16] #65 closed

[2018-07-02 08:15] matthewpaulthomas opened #123 "[gnome-software] Custom header artwork mockups"
Following up from #115:

We need mockups showing custom header artwork for example apps, plus mockups showing fallback generated artwork for other example apps.

Once complete, they should be attached to [the GitLab issue](https://gitlab.gnome.org/GNOME/gnome-software/issues/415).

[2018-07-02 08:16] matthewpaulthomas commented on #115
Reported “[Custom header artwork for the app view](https://gitlab.gnome.org/GNOME/gnome-software/issues/415]” in Gnome GitLab.

Reported #123 on producing mockups to demo the idea.

[2018-07-02 08:16] #115 closed

[2018-07-04 16:23] therealjuan commented on #123
Can we add estimation points?

[2018-07-05 08:53] spencerbygraves commented on #123
@matthewpaulthomas Can I have some more info on this please? I'm not sure what this involves. Thanks.

[2018-07-05 13:30] matthewpaulthomas commented on #123
@spencerbygraves Sure.
1. Take same-sized screenshots, of the Gnome Software app view, for five or six apps.
2. Alter the screenshots to make room for a header image in the app view, partly overlapped by the content, as shown in the wireframes in [the GitLab issue](https://gitlab.gnome.org/GNOME/gnome-software/issues/415).
3. Devise a way to generate an attractive, but unobtrusive, pattern based o

[2018-07-12 13:14] Greggless opened #124 "Requirement gathering for desktop stats dashboard"
Kick off meeting with @8none1 and @carlaberkers to define requirements and scope of this

[2018-07-12 13:15] Greggless opened #125 "Review examples of data visualisation and dashboards"
DO NOT USE PINTEREST OR DRIBBBLE BECAUSE ITS A LOAD OF CRAP

[2018-07-12 13:15] Greggless opened #126 "Sketch early concepts"
### [Working doc](https://docs.google.com/document/d/1qABX3xEIBTl4d4brcHyEC9v7mtfaOy3jYnWbEKXZZK0/edit)

[2018-07-12 13:15] Greggless opened #127 "Create hi fidelity mockups"
- [ ] Create hi fi mock up
- [ ] Steal a visual designer for review
- [ ] Probably hand it over to a real visual designer f

[2018-07-12 13:37] spencerbygraves commented on #123
@matthewpaulthomas, here are the designs we discussed earlier.

For the pattern set, I have used a white SVG with opacity over the coloured background. I have also used a gradient made from the dominant colour, reduced in brightness by 20% on the left side. It would be good if this could be achieved when choosing the dominant colour, I guess we would need to ask.

### 1. ###

![image](https://user

[2018-07-12 15:39] kasiag opened #128 "Brief: Dashboard statistics"
From Will Cooke; [Ubuntu report: Internal metrics](https://docs.google.com/document/d/1BsREyYASPMIsAtiwzq5DpmeZHt_ZnJ1uZuxOIbfXZ30/edit?usp=sharing). Create a brief from the kick-off meeting and the Report.

Using this to create a [working document](https://docs.google.com/document/d/1qABX3xEIBTl4d4brcHyEC9v7mtfaOy3jYnWbEKXZZK0/edit?usp=sharing) to inform design process

[2018-07-12 15:39] kasiag opened #129 "Brief: Move software updates and others into settings"

[2018-07-12 15:39] kasiag opened #130 "Brief: Refinement of first-run wizard"

[2018-07-13 15:15] matthewpaulthomas commented on #129
Mailed @8none1 requesting description of the scope here.

[2018-07-13 15:59] 8none1 commented on #129
This Trello card has more details:

https://trello.com/c/2zzukqWH

and this one:

https://trello.com/c/d6hsAglg

Is the one being worked on at the moment.

Please work directly with Robert, he's doing the implementation and has prioritised the list so we can try and get at least some of them done this cycle.

[2018-07-15 13:29] matthewpaulthomas commented on #129
Thanks @8none1.

[Brief drafted](https://docs.google.com/document/d/1AD6dJ9qRkEmBwzBjH-RepqV_hIA2TlrjD6l7J60HezQ/edit). @kasiag @carlaberkers Please excuse any mistakes, since it’s the first time I’ve used this particular brief template.

[2018-07-16 10:57] spencerbygraves commented on #123
Thanks @matthewpaulthomas, I've updated those images above.

[2018-07-17 11:16] Greggless commented on #125
## Calculating the chance of alien life with [this interactive graph](https://informationisbeautiful.net/visualizations/the-drake-equation/)

[2018-07-17 13:43] Greggless commented on #125
## DATA VIZ 📈 [Diversity in tech](https://informationisbeautiful.net/visualizations/diversity-in-tech/)
![image](https://user-images.githubusercontent.com/23459065/42821035-8602eabc-89cf-11e8-8996-65b88d1bb181.png)
- View by year
- Compares series against multiple categories

[2018-07-17 13:49] Greggless commented on #125
## DATA VIZ 📉 [Google's Diversity report](https://diversity.google/annual-report/)

[2018-07-17 16:57] matthewpaulthomas commented on #123
Thanks @spencerbygraves! I’ve [posted the updated images upstream](https://gitlab.gnome.org/GNOME/gnome-software/issues/415#note_268540).

[2018-07-17 16:57] #123 closed

[2018-07-17 17:59] matthewpaulthomas commented on #130
[Draft design brief](https://docs.google.com/document/d/123vX6vveI8u0fLw412TRUMJ-og6pEbQwFvfROGQCkwU/edit).

[2018-07-18 15:54] #124 closed

[2018-07-18 16:02] Greggless commented on #125
# Dashboard :pager: [aprilzero.com](http://aprilzero.com/)
- A very cool dashboard giving insight into a Silicon Valley-goer's techie life.
- Allowing navigation into deep levels of data and cross navigation into relevant data, too.
![image](https://user-images.githubusercontent.com/23459065/42893412-2530a41c-8aac-11e8-8b64-af5dfa3628f3.png)

[2018-07-18 16:18] 8none1 commented on #125
In case you're interested here's the Steam survey:

https://store.steampowered.com/hwsurvey/Steam-Hardware-Software-Survey-Welcome-to-Steam?platform=linux

[2018-07-19 11:01] Greggless commented on #128
[Brief updated](https://docs.google.com/document/d/1bCRMmEvnh41Pkht810euXvMTrohL7JT9QwNKwMi6-fA/edit?usp=sharing) pending review from @8none1

Psst, Hey Will! would you mind looking over the brief and check I'm aligned with your thinking for the Dashboard?

[2018-07-19 13:57] 8none1 commented on #128
+1 doc looks good.  Thanks!

[2018-07-19 14:18] #128 closed

[2018-07-23 11:49] Greggless commented on #126
1. Is the data related to time? — Trend
1. Is the data comparable? — Comparison
1. Does the data have the part-to-whole relationship? — Composition
1. Is it a data series with an interesting distribution? — Distribution
1. Can the data be shown in geographical context? — Geo
1. Is there any relationship between the datasets? — Relationship
1. Does the data have a sequence? — Sequence
1. Is there o

[2018-07-23 12:20] Greggless commented on #125
We should think whether users are going to be more interested in looking at trends or comparisons for each of the data points. For some of the data it makes sense to look at variables over time. The yearly toggle takes a a slice per year when _comparing_ values. Plotting the same on an area chart (or other trend-based data chart) might not work for the intended purposes.

[2018-07-24 10:34] Greggless commented on #125
# Google analytics
### Active users
Overview panel representing currently active users:
  - Single value - Total active users
  - Sparkline - recent active users
  - Listing - Top active pages
  - Ability to dive into details

![image](https://user-images.githubusercontent.com/23459065/43128141-171aa87e-8f29-11e8-9f67-8006b0213c8e.png)

### When do your users visit? A customisable Heatmap
- Compar

[2018-07-24 12:33] #125 closed

[2018-07-24 12:52] matthewpaulthomas commented on #129
From review:
- Need to talk with Robert Ancell about scheduling
- Probably best to just let him port what exists, and review and give feedback afterwards.
- Add some basic user testing to the plan (roughly 1 day prep, 1 day testing, 1 day write-up).

[2018-07-24 13:02] matthewpaulthomas commented on #130
To do:
- [ ] Talk with @8none1 about which of the listed items are in scope.

[2018-07-27 10:57] Greggless commented on #126
# How to access the Dashboard
1. Via Desktop update notification
1. From their Ubuntu desktop - settings
1. Via the [Desktop download page](https://mongoose.ubuntu.com/download/desktop)

# Themes of data

## WHO are Ubuntu users?

| Data | Data type | chart representation | Notes |
| :- | :- | :- | :- |
| Opt-in % | Single value | Single value | Add thank you note and link to opt-in
| Location | G

[2018-07-27 13:58] Greggless commented on #126
## WHO are Ubuntu users? (Overview)

![image](https://user-images.githubusercontent.com/23459065/43325021-7ea2c158-91ad-11e8-844c-0e102cfe8e5f.png)

[2018-07-30 11:02] Greggless commented on #127
Closing as not relevant (superceded by different tasks)

[2018-07-30 11:02] #127 closed

[2018-07-30 11:07] kasiag opened #131 "Public dashboard: workshop"

[2018-07-30 11:14] carlaberkers commented on #131
tasks to be decided after meeting with Will

[2018-07-30 11:14] #131 closed

[2018-07-30 15:18] matthewpaulthomas commented on #130
Call scheduled for Tuesday.

[2018-07-30 15:50] matthewpaulthomas opened #132 "User testing of System Settings"
As suggested in #129, we should carry out basic user testing of System Settings, focusing on Ubuntu-specific panels once they are implemented.

Rough schedule:
- 1 day preparation
- 1 day testing
- 1 day write-up

[2018-07-30 15:51] matthewpaulthomas commented on #129
There’s no time zone overlap between Robert and me, so I’ve e-mailed him.

I’ve recorded the user testing task as #132.

[2018-07-30 16:11] Greggless commented on #126
# Update (with review comments)

## General
- Add more prominent section titles and help text
- Move toggle (🔘 **HW 🔵 VM**) to top of the page as a global setting
- Find a place on Ubuntu.com for this
- Work up a PR plan
- Work on an implementation plan

## WHO installed Ubuntu
- **Real or Virtual machines:** - State that the 'Unknown' portion of collected data is not used in the rest of the resul

[2018-07-30 16:11] #126 closed

[2018-08-02 12:11] matthewpaulthomas commented on #130
Will made one addition to the tasks, but is otherwise happy with the brief.

[2018-08-06 14:44] matthewpaulthomas commented on #129
Mailed Robert again.

[2018-08-06 15:01] matthewpaulthomas opened #133 "[gnome-software] Custom header iteration"

[2018-08-06 15:01] matthewpaulthomas opened #134 "Small tasks 18-33"

[2018-08-06 15:02] #134 closed

[2018-08-06 15:26] #130 closed

[2018-08-09 07:39] matthewpaulthomas commented on #129
[Draft brief](https://docs.google.com/document/d/1AD6dJ9qRkEmBwzBjH-RepqV_hIA2TlrjD6l7J60HezQ/edit) revised.

[2018-08-09 11:29] matthewpaulthomas commented on #133
Kasia asked for a summary of the feedback posted to GitLab. It’s pretty concise already:

Richard Hughes:

Allan Day:

Jakub Steiner:

[2018-08-10 09:45] matthewpaulthomas commented on #113
This is no longer necessary, as [the feature is already upstream](https://gitlab.gnome.org/GNOME/gnome-software/merge_requests/71).

[2018-08-10 09:45] #113 closed

[2018-08-14 13:39] carlaberkers commented on #129
Is this reviewed by @8none1 and Robert? Are they happy with the items in scope for 18.10 or would they like to narrow it down?

[2018-08-14 13:56] 8none1 commented on #129
+1 from me

[2018-08-17 08:18] matthewpaulthomas commented on #133
@spencerbygraves Thank you, those are excellent.

I think he meant that having a notch cut out of the bottom of the background was inelegant. (I think it looks more interesting that way, and it would encourage appropriate artwork.)

I don’t feel strongly either way. An empty origami block might get monotonous if present for ~95% of apps you see, even if its colour varies. On the other hand, having

[2018-08-17 08:59] matthewpaulthomas commented on #129
@carlaberkers The “Scope” section is based entirely on mail from Robert.

[2018-08-17 12:46] matthewpaulthomas opened #135 "System Settings: Security & Privacy"

[2018-08-17 12:47] matthewpaulthomas opened #136 "System Settings: Software & Updates"
Software & Updates settings will be expanded to include [settings for Livepatch](https://wiki.ubuntu.com/SoftwareUpdates#livepatch) and possibly for ESM.

This also increases the priority of compacting the rest of the settings, to keep to a sensible number of tabs.

[2018-08-17 12:47] matthewpaulthomas opened #137 "System Settings: Printing"

[2018-08-17 12:47] matthewpaulthomas opened #138 "System Settings: Language"

[2018-08-17 12:48] matthewpaulthomas opened #139 "System Settings design work"
Work described in [the brief](https://docs.google.com/document/d/1AD6dJ9qRkEmBwzBjH-RepqV_hIA2TlrjD6l7J60HezQ/edit) (Canonical-only link, sorry), represented as these individual issues:

#135 System Settings: Security & Privacy
#136 System Settings: Software & Updates
#137 System Settings: Printing
#138 System Settings: Language

[2018-08-17 12:51] matthewpaulthomas commented on #129
Brief approved by @carlaberkers.

⚠ This work is not included in the August 6th plan for the rest of this cycle. I’ve reported #139 to track it.

[2018-08-17 12:53] #129 closed

[2018-08-20 15:22] matthewpaulthomas opened #140 "Yaru theme review"
Deliverable: theme review and reported list of bugs

[2018-08-20 15:22] matthewpaulthomas opened #141 "Yaru theme review"
Install Ubuntu 18.10 alpha and test the new theme.

[2018-08-20 15:30] matthewpaulthomas opened #142 "Report/flag apps and publishers"

[2018-08-24 08:19] matthewpaulthomas commented on #116
[Reported](https://gitlab.gnome.org/GNOME/gnome-software/issues/451). I’ve left the “text+illustrations for several articles” for a future iteration (though [snapcraft.io/blog](https://snapcraft.io/blog) now has articles of the kind we’re proposing).

[2018-08-24 08:19] #116 closed

[2018-09-02 14:28] matthewpaulthomas commented on #109
This was an error on my part. It should be “Ubuntu Software” (or whatever the app happens to be named at the time).

[2018-09-02 14:28] #109 closed

[2018-09-02 14:52] matthewpaulthomas commented on #110
If there is no file listing a human-sensible name for each time zone location, then let’s drop it and just say “the time zone you chose” instead.

[2018-09-02 14:52] #110 closed

[2018-09-21 13:17] matthewpaulthomas commented on #140
Reported 2 of 17 bugs… (I’ll update the list when finished)
- [#844 Inconsistent focus rings, dashed vs. solid](https://github.com/ubuntu/yaru/issues/844)
- [#845 Inconsistent darkening of selection vs. focus rings in dark theme](https://github.com/ubuntu/yaru/issues/845)

[2018-09-24 07:12] matthewpaulthomas commented on #118
[Done](https://gitlab.gnome.org/GNOME/gnome-software/issues/471).

[2018-09-24 07:12] #118 closed

[2018-09-24 07:41] #142 closed

[2018-09-24 12:07] #140 closed

[2018-09-24 12:08] #141 closed

[2018-09-27 09:28] matthewpaulthomas opened #143 "Yaru theme review - report icon bugs upstream"
This task will be complete when those issues I reported as part of #140, that are specifically about icons copied from the Suru theme, are also reported on [the Suru repo](https://github.com/snwh/suru-icon-theme) and the issues link to each other.

- [#855 Grabbing hand cursor is not recognizable](https://github.com/ubuntu/yaru/issues/855) _already reviewed by upstream maintainer_
- [x] [#859 Rhyt

[2018-09-27 10:04] lyubomir-popov commented on #123
@matthewpaulthomas I looked at the file, the background is composed of 2 parts:
1) linear gradient between 2 shades (not sure who will be picking the colours for those), for example linear-gradient(to right, #29B360 0%, #1D8045 100%)
2) 3 transparent shapes - https://assets.ubuntu.com/v1/c73546e0-folds.svg the size is 1200x199, but it can be resized or clipped as needed.

[2018-09-27 10:58] matthewpaulthomas commented on #123
Thanks @lyubomir-popov. [Posted to GitLab](https://gitlab.gnome.org/GNOME/gnome-software/issues/415#note_334285).

[2018-09-30 14:00] #143 closed

[2018-11-13 11:40] mymike00 commented on #112
is there a chance to get this fixed?

[2018-11-21 09:43] 8none1 commented on #112
This sounds like a Yaru theme bug, so you should open a bug here:

https://github.com/ubuntu/yaru/issues

I can't move it for you I'm afraid.

[2018-11-21 12:08] mymike00 commented on #112
Thanks

[2018-11-22 17:59] cibersheep commented on #112
@mymike00 in 18.04 is _workedaround_ adding a white circle under the spiner :)

[2018-11-23 18:03] mymike00 commented on #112
@cibersheep oh, it could be a good idea in the meanwhile!

[2019-01-14 11:47] matthewpaulthomas opened #145 "Snap software update prompts"
Apps often have trouble if they are updated while they are running. This is true for snaps just as it is for .deb packages (though the details may differ). For example, if the Signal snap is updated while running, it is no longer able to send messages until relaunched.

Because snap updates are more reliable than .debs, they are automatic rather than manual. But this makes it more likely that an a

[2019-01-14 12:13] matthewpaulthomas commented on #145
Sketches for discussion:

![snap-update-prompts](https://user-images.githubusercontent.com/19801137/51111658-5ca91a00-1805-11e9-9ac6-17c4282a6bcf.png)

A FreeDesktop.org notification prompt (top left):
- could work on more snap-using OSes
- would avoid complications with fitting in with the rest of the OS (toolkit, theme etc), though any progress dialog would raise those issues anyway.

A custom d

[2019-01-22 13:33] matthewpaulthomas commented on #145
@8none1 @kenvandine My understanding, from listening in on the discussion last week, is that any UI like I sketched above is not needed yet. For the next few months, work will focus just on delaying updates while an app is running. So I’ll close this for now, but happy to pick it up again later.

[2019-01-22 13:33] #145 closed

[2019-01-28 15:14] matthewpaulthomas opened #146 "Livepatch status menu icon"
We want people to be able to see Livepatch status in the “top bar” (the black bar along the top of the Ubuntu screen).

This requires a monochrome status icon — similar to those for wi-fi or Bluetooth — with two states, on and off.

[Livepatch](https://www.ubuntu.com/livepatch) doesn’t currently have any icon or logo of its own.

Metaphor fodder: Livepatch automatically applies some security updat

[2019-01-28 15:16] 8none1 commented on #146
My 2 cents: a shield is a good metaphor.

[2019-01-29 11:14] spencerbygraves commented on #146
@matthewpaulthomas @8none1 we currently have a shield on the [ESM page](https://www.ubuntu.com/esm), or we have the shield below.

![image](https://user-images.githubusercontent.com/9105999/51903713-c81dea80-23b4-11e9-8a0c-810a2db1aad3.png)

However, I don't think these were designed to be used at small sizes and don't have different states for on and off.

@waynecrosby will soon be designing a ne

[2019-01-29 15:04] matthewpaulthomas commented on #41
This won’t be fixed, since Ubuntu no longer ships Ambiance and Radiance.

[2019-01-29 15:04] #41 closed

[2019-01-29 15:04] matthewpaulthomas commented on #36
This won’t be fixed, since Ubuntu no longer ships Ambiance and Radiance.

[2019-01-29 15:04] #36 closed

[2019-01-29 15:04] matthewpaulthomas commented on #34
This won’t be fixed, since Ubuntu no longer ships Ambiance and Radiance.

[2019-01-29 15:04] #34 closed

[2019-01-29 15:05] matthewpaulthomas commented on #30
This won’t be fixed, since Ubuntu no longer ships Ambiance and Radiance.

[2019-01-29 15:05] #30 closed

[2019-01-29 15:05] matthewpaulthomas commented on #29
This won’t be fixed, since Ubuntu no longer ships Ambiance and Radiance.

[2019-01-29 15:05] #29 closed

[2019-01-29 15:05] #26 closed

[2019-01-29 15:05] matthewpaulthomas commented on #24
This won’t be fixed now, since Ubuntu no longer ships Ambiance and Radiance.

[2019-01-29 15:05] #24 closed

[2019-01-29 15:06] matthewpaulthomas commented on #23
This won’t be fixed, since Ubuntu no longer ships Ambiance and Radiance.

[2019-01-29 15:06] #23 closed

[2019-01-29 15:06] matthewpaulthomas commented on #21
This won’t be fixed, since Ubuntu no longer ships Ambiance and Radiance.

[2019-01-29 15:06] #21 closed

[2019-01-29 15:06] #18 closed

[2019-01-29 15:06] matthewpaulthomas commented on #16
This won’t be fixed, since Ubuntu no longer ships Ambiance and Radiance.

[2019-01-29 15:06] #16 closed

[2019-01-29 15:06] matthewpaulthomas commented on #12
This won’t be fixed, since Ubuntu no longer ships Ambiance and Radiance.

[2019-01-29 15:06] #12 closed

[2019-01-29 15:06] matthewpaulthomas commented on #10
This won’t be fixed now, since Ubuntu no longer ships Ambiance and Radiance.

[2019-01-29 15:06] #10 closed

[2019-01-29 15:08] matthewpaulthomas commented on #44
@kwm14 Do you still need this at all?

[2019-01-29 15:13] kwm14 commented on #44
@matthewpaulthomas I don't believe so. This was a task for the Community team 😄

[2019-01-29 15:14] #52 closed

[2019-01-31 13:36] #44 closed

[2019-02-21 10:21] matthewpaulthomas opened #147 "Design GUI for installing theme snap"
Popular GTK themes, including the default themes in popular Linux OSes, are included in [the gtk-common-themes snap](https://snapcraft.io/gtk-common-themes) so that they can connect to installed snaps.

If you install a theme that isn’t included in that package, there may be a snap to provide that theme to installed snaps. If so, you should be prompted to install it, and notified of installation p

[2019-02-21 13:33] matthewpaulthomas commented on #147
Initial prompt:
![theme-snap-prompt](https://user-images.githubusercontent.com/19801137/53172243-22415280-35e5-11e9-940a-7596767d1db3.png)

If you choose “Download”: (halfway through, “Downloading” would change to “Installing”)
![theme-snap-downloading](https://user-images.githubusercontent.com/19801137/53172244-22415280-35e5-11e9-9757-958341e6b039.png)

If there’s an error:
![theme-snap-error](ht

[2019-03-04 11:23] 8none1 commented on #146
@spencerbygraves hi!  Are you able to give an ETA on the icon?

[2019-03-04 12:03] spencerbygraves commented on #146
@8none1 Hi, we'll be working on it this week. Thanks.

[2019-03-11 14:58] anasereijo opened #148 "UA token site"

[2019-03-11 15:02] anasereijo commented on #148
duplicate

[2019-03-11 15:02] #148 closed

[2019-03-12 13:11] azzar1 commented on #146
@spencerbygraves Any news on this? The branch to add the indicator is almost ready and we need the icons in order to propose it :)

[2019-03-12 13:24] spencerbygraves commented on #146
@azzar1, @marcush will be sending the icons to @8none1 this afternoon. Thanks.

[2019-03-18 11:04] clagom commented on #147
@matthewpaulthomas I'm not able to change assign people either

[2019-03-19 10:19] matthewpaulthomas commented on #147
Good suggestion from @kwm14: Add a “Relaunch All” button to handle the case where there are many open snap apps.

[2019-03-22 09:07] clagom commented on #147
+1 on "relaunch all" button

[2019-03-26 10:12] matthewpaulthomas commented on #147
Revised design for when any apps need relaunching:

![theme-snap-success](https://user-images.githubusercontent.com/19801137/54989015-8de55980-4faf-11e9-9200-4e28e913c45b.png)

[2019-04-01 08:37] matthewpaulthomas opened #149 "“Channels” software settings complete design"
[The Software & Updates Settings design](https://wiki.ubuntu.com/SoftwareAndUpdatesSettings) begins with a “Channels” tab (combining the previous “Ubuntu Software”, “Other Software”, and “Authentication” tabs).

This tab is not fully specified, in particular:
- [x] Clarifying that software also comes from the Snap Store
- [x] What happens when you check/uncheck a channel
- [x] The “Install softwar

[2019-04-01 10:14] #147 closed

[2019-04-01 10:50] matthewpaulthomas commented on #147
[Specification updated](https://wiki.ubuntu.com/Appearance?action=diff&rev2=52&rev1=51).

[2019-04-11 09:38] matthewpaulthomas commented on #149
@clagom Do you have time to review this? Thanks.

[2019-04-11 10:54] clagom commented on #149
Looks good to me @matthewpaulthomas
The only thing I wonder is here:
![](https://wiki.ubuntu.com/SoftwareAndUpdatesSettings?action=AttachFile&do=get&target=settings-channels.png)
The paragraph below says "The “Official channels” header should have a radio menu for choosing the download server... [and so on]"
Is this part missing from the sketches?

[2019-04-11 13:24] matthewpaulthomas commented on #149
@clagom The radio menu is shown to the right of the “Official channels” header text, with the current value “UK”.

[2019-04-12 08:09] #149 closed

[2019-04-15 09:16] #136 closed

[2019-04-29 14:16] matthewpaulthomas commented on #146
Is anything more needed here, or can this be closed

[2019-04-29 14:18] waynecrosby commented on #146
It can be closed. Thanks W

[2019-04-30 07:47] #146 closed

[2019-05-21 12:47] #135 closed

[2019-05-21 12:47] #137 closed

[2019-05-21 12:47] #139 closed

[2019-05-21 12:47] #138 closed

[2019-11-25 16:39] matthewpaulthomas commented on #132
There’s no progress on this in the past 16 months, and no point keeping it open.

[2019-11-25 16:39] #132 closed

[2019-11-25 16:43] matthewpaulthomas commented on #121
We continue to use (and contribute to) gnome-software in Ubuntu, but this design project hasn’t been a priority over the past year, and there’s no benefit to keeping this issue open.

[2019-11-25 16:43] #121 closed

[2019-11-25 16:48] matthewpaulthomas commented on #120
We continue to use (and contribute to) gnome-software in Ubuntu, but this design project hasn’t been a priority over the past year, and there’s no benefit to keeping this issue open.

[2019-11-25 16:48] #120 closed

[2019-11-25 16:49] matthewpaulthomas commented on #122
We continue to use (and contribute to) gnome-software in Ubuntu, but this design project hasn’t been a priority over the past year, and there’s no benefit to keeping this issue open.

[2019-11-25 16:49] #122 closed

[2019-11-25 16:49] matthewpaulthomas commented on #119
We continue to use (and contribute to) gnome-software in Ubuntu, but this design project hasn’t been a priority over the past year, and there’s no benefit to keeping this issue open.

[2019-11-25 16:49] #119 closed

[2019-11-25 16:49] matthewpaulthomas commented on #117
We continue to use (and contribute to) gnome-software in Ubuntu, but this design project hasn’t been a priority over the past year, and there’s no benefit to keeping this issue open.

[2019-11-25 16:49] #117 closed

[2019-11-25 16:49] matthewpaulthomas commented on #114
We continue to use (and contribute to) gnome-software in Ubuntu, but this design project hasn’t been a priority over the past year, and there’s no benefit to keeping this issue open.

[2019-11-25 16:49] #114 closed

[2019-11-25 16:50] matthewpaulthomas commented on #40
We can discuss this at the Yaru sprint in January.

[2019-12-13 14:34] Feichtmeier commented on #40
Just as a preview of the problem:

changing this - even with our current mindset of not touching upstream gtk much - in gtk is easy:

![image_2019-11-26_13-27-04](https://user-images.githubusercontent.com/15329494/70807385-bfac8380-1dbd-11ea-8443-76a22a100db3.png)

[code]

The problem is that gnome shell (the UI of the system) can not have squared handles :/
![Screenshot from 2019-11-26 12-40-15](

[2020-02-02 16:59] matthewpaulthomas opened #155 "[Installer] Installing on systems with RST/BitLocker"
This is the non-epic version of [web-squad#2284](https://github.com/canonical-web-and-design/web-squad/issues/2284)

_Request from: Martin Wimpress and Iain Lane_

It is not currently possible to install Ubuntu on RAID (RST) disks or install alongside Windows on Bitlocked disks. So we need warnings in the installer to guide users when encountering these scenarios.

We need two notifications in the

[2020-02-04 11:49] matthewpaulthomas commented on #155
Answers from meeting:

Could be whenever we like.

If you're in RST mode you can't see any disks at all. Once you've switched out of RST (into AHCI) you might discover that the disk has BitLocker as well.

Example use case for BitLocker is that you buy a Dell that you know Ubuntu will run well on, but right now it’s running Windows.

BIOS might refer to RST as “RAID”.

Yes, but maybe not useful be

[2020-02-23 17:12] matthewpaulthomas commented on #155
Draft design complete:
- [RST](https://docs.google.com/document/d/1bZ4yQIVgGaUGSYu3qiUHnQt3ieBZoqunP_DcleHCr3I/edit#heading=h.l9zmuy5zf43z)
- [BitLocker](https://docs.google.com/document/d/1bZ4yQIVgGaUGSYu3qiUHnQt3ieBZoqunP_DcleHCr3I/edit#heading=h.an5e8lyg0x2v)

[2020-02-25 14:14] lilyvidenova commented on #155
+1 with a few little changes :)

[2020-02-25 15:57] #155 closed

[2020-10-26 09:21] seb128 opened #157 "How to handle ISO errors on the installer?"
In the focal cycle we changed the desktop ISO to do a check of the image by default. The result is currently briefly displayed on the plymouth screen and recorded in a file on disk (which is collected by apport). It means unless the user stares to the screen at the right time there is no obvious communication that the system is likely to hits errors. We should at least communicate that to the user

[2021-03-10 07:45] elioqoshi opened #158 "Timezone settings are inaccessible (no screenreader output)"
(reported by @MarcoZehe)

## How to reproduce

1. With Orca on, open Settings.
2. Find the Search field, activate it with Space, and enter „date“.
3. Tab until you reach the time zone item and press Space.
4. Enter your city.
5. Press Tab.

## Result
You won’t hear anything. You cannot make a selection. Orca’s Flat Review also only sees the search field and the unlabeled Find and Clear icons in th

[2021-03-17 14:56] elioqoshi commented on #158
Tobias from GNOME is addressing these in the GNOME issue tracker:
https://gitlab.gnome.org/Teams/Design/settings-mockups/-/issues/23

[2021-04-23 07:53] elioqoshi commented on #158
I am having a look at this again next iteration. Talked with the GNOME design team to get this merged upstream as well.

[2021-04-26 10:15] long-chung commented on #157
@seb128 is the error message this screen?
![VirtualBox_Ubuntu 20 x64_05_09_2020_02_30_14](https://user-images.githubusercontent.com/68847062/116067091-bce3c300-a680-11eb-9b52-aa5c589fb0e5.png)

[2021-04-26 10:17] long-chung commented on #157
@seb128 What are the users options at this point? error log, help link, fix issue etc? Would be good to understand the flow. Thanks

[2021-04-26 10:26] seb128 commented on #157
@long-chung so yes, that was the error as displayed in 20.10. The session would start anyway after showing that if you didn't happened to be watching your screen at the right time you wouldn't see it. It also didn't explain much of the option.

Due to that Dimitri from foundations changed i in Hirsute to not display anything on the start screen anymore and do the check in the background as a servi

[2021-04-26 10:32] long-chung commented on #157
@seb128 Thanks for the explanation.
I think 2 possible options would be to:

- Have some form of popup post installation, on first launch with a message and a recommendation for the error.
- Or are we able to do a check on the media before installation as a user option before they commit to the installation to save time and frustration?

[2021-04-26 10:39] seb128 commented on #157
Sorry, I was not probably not clear that what I was describing is about the installation media (often USB stick) and not the target machine (we don't do integrity check on the installed system, real disk errors are less frequent than error on cheap medias).
I think we basically need to prevent the user to go through the installation. We have the information available on disk so it's a matter to re

[2021-04-26 11:13] seb128 commented on #157
One other thing to consider is how we handle the check. The 20.10 way was to delay the ISO session start until the check was finished (staying on the plymouth ubuntu screen with the spinner and the corresponding labels), now it's active in the background, which means it could still be ongoing at the point the installer is started. Do we wait for the result spinning in some way in those cases?

[2021-05-17 15:37] SirSamTumless commented on #158
Can I close this @elioqoshi ?

[2021-05-17 16:00] elioqoshi commented on #158
Nope! Still relevant.

[2021-05-17 16:27] SirSamTumless commented on #158
Are you going to work on it/finish it this week?

[2021-10-18 18:23] renovate[bot] opened #159 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-11-04 14:52] #159 closed

[2021-11-08 18:56] renovate[bot] opened #160 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined

[2021-11-09 14:14] #160 closed, assigned to nobody

[2021-12-01 16:34] elioqoshi opened #161 "🦑 Installer LVM changes"

[2021-12-01 16:40] elioqoshi opened #162 "UX Benchmarking"
Do benchmarking of the LVM UX on various installers and document the flow for review

[ ] Ubuntu Subiquity LVM flow
[ ] Fedora desktop LVM GUI
[ ] Debian server LVM (?) flow

[2021-12-01 16:44] elioqoshi opened #163 "User stories validation"
Create and collect user stories (review with Desktop team) to inform the UX work for the LVM changes

[2021-12-01 16:55] elioqoshi opened #164 "Initial user journey mapping"
Based on benchmarking and user stories, we should provide initial user journeys related to the LVM feature choices.

[2021-12-01 16:58] elioqoshi opened #165 "User interviews"
Conduct user interview(s) with customers interested in the LVM feature set. Maybe even provide the initial wireframes for lightweight usability testing?

[2021-12-01 17:02] elioqoshi opened #166 "Wireframes"
Provide low-fidelity wireframes and review them with the Desktop team. Maybe add to a clickable prototype for remote usability testing.

[2021-12-16 11:30] elioqoshi commented on #162
Conducted some benchmarking on a UTM VM on my Mac and documented on Miro: https://miro.com/app/board/o9J_kj9nVNc=/?invite_link_id=513303474135

[2022-01-04 09:07] sowasred2012 opened #167 "gnome-software account UI: Split Sign In vs Register"
_This issue was originally raised on 19/03/20 at https://github.com/canonical-web-and-design/Ubuntu-design/issues/224 by @matthewpaulthomas - it was decided this repo was a more suitable place for the issue, but for some reason we couldn't just transfer it across, so instead it's been manually recreated._

The gnome-software “Sign In / Register” dialog currently combines the two functions with a s

[2022-01-04 10:35] elioqoshi commented on #162
Benchmarking is done (also had a chat with Michael from the Subiquity team). Miro: https://miro.com/app/board/uXjVOcs5zY4=/?invite_link_id=685501518073

[2022-01-04 10:35] #162 closed, assigned to elioqoshi

[2022-01-04 10:43] elioqoshi commented on #163
Some basic user stories are documented on Miro: https://miro.com/app/board/uXjVOcs5zY4=/?invite_link_id=865837019327

[2022-01-04 10:43] #163 closed, assigned to elioqoshi

[2022-01-04 10:45] elioqoshi commented on #164
We agreed that the user flow will be identical to the current flow of Subiquity / Ubuntu server so there will be no major UX differences to that.

[2022-01-04 10:45] #164 closed, assigned to nobody

[2022-01-13 11:13] elioqoshi commented on #165
We decided not to do interviews at this point.

[2022-01-13 11:13] #165 closed, assigned to elioqoshi

[2022-01-13 11:13] #166 closed, assigned to elioqoshi

[2022-01-13 11:15] cristinadresch opened #168 "Installer LVM changes - Final Designs"
Figma Clickable Prototype: https://www.figma.com/proto/0oKbszYR8kIfdogBIrYj5W/Ubuntu-22.04-LTS-Desktop-Installer-LVM?page-id=1%3A3680&node-id=1%3A3681&viewport=241%2C48%2C0.08&scaling=min-zoom&starting-point-node-id=1%3A3681&show-proto-sidebar=1

Zeplin: https://zpl.io/bemKk7z

Specs: https://docs.google.com/document/d/1JxPQyBaXSfqgnKKolAfuG5_FgzUFiWJyMJd-BV8N6YI/edit

[2022-01-13 11:19] elioqoshi commented on #168
@spencerbygraves If you could have a quick look at the designs and there is nothing horribly wrong?

[2022-01-27 09:22] #168 closed, assigned to elioqoshi

[2022-02-18 10:58] elioqoshi opened #169 "🦑 UA in Desktop installer"

[2022-02-18 11:01] elioqoshi opened #170 "Wireframes/Mockups"
Provide wireframes or mockups for attaching the UA token in the Desktop installer.

[2022-02-18 11:04] elioqoshi opened #171 "User Testing / Interviews"
Have a 1-3 user testing sessions to test the prototype of the UA in Desktop installer

[2022-02-18 11:08] elioqoshi opened #172 "Clickable Prototype"
Create a Figma prototype based on the mockups/wireframes to be used for presentations and user testing.

[2022-02-18 11:12] elioqoshi opened #173 "Spec Document"
Create a Google Doc with the feature specs and screenshots to align PdM and Engineering.

[2022-02-18 11:12] elioqoshi opened #174 "Spec Document - First draft"
Create a Google Doc with the feature specs and screenshots to align PdM and Engineering.

[2022-02-21 11:18] elioqoshi commented on #170
The first pass for the online flow should be ready for UX Review now:
https://www.figma.com/file/rvsmL34dPmR4jcKEcTAbg5/UA-in-Desktop-Installer?node-id=0%3A1

Once this flow is good to go I will continue with the offline flow based on it. Having a session with @lechsandecki to go over this later today as well.

[2022-02-21 15:05] wgx commented on #170
UX +1 ! with some optional notes for @elioqoshi to consider.

[2022-02-24 09:22] elioqoshi commented on #174
First draft is ready! https://docs.google.com/document/d/1KxcPi9P7ftKgwJ2sWJcAADD5aAtAfTSZevcSZetQ7iQ/edit#

This is good to go for a review but we will have a meeting with Mark together with @waynecrosby as well on 9th of March so it can officially be signed off only afterwards.

Assigning @wgx for a UX review, I have done a few changes on the token Verification UX because of technical limitation

[2022-02-24 09:29] #170 closed, assigned to wgx, elioqoshi

[2022-02-25 11:44] wgx commented on #174
LGTM +1

[2022-03-08 09:29] #174 closed, assigned to elioqoshi

[2022-03-15 10:37] elioqoshi opened #175 "Subiquity complete copydoc"
Mark asked for a copydoc for the whole experience of Subiquity (server installer).

Draft here: https://docs.google.com/document/d/1WeNm3AQyjOlorzfAaQgZmvJpHgb5H8_vIoaXMvpBCS8/edit?usp=sharing

[2022-03-15 11:00] elioqoshi commented on #175
Lech mentioned that this is good to go for now so closing this.

[2022-03-15 11:00] #175 closed, assigned to elioqoshi

[2022-04-20 09:56] elioqoshi opened #176 "Firmware Updater: UX Benchmarking"

[2022-04-20 09:57] elioqoshi opened #177 "Firmware Updater: User Journey / Flowchart"

[2022-06-01 08:33] #176 closed, assigned to elioqoshi

[2022-06-01 08:33] #177 closed, assigned to elioqoshi

[2022-10-31 11:28] bartaz commented on #161
@elioqoshi This seems finished, can the epic be closed?

[2022-10-31 11:29] bartaz commented on #169
@elioqoshi This still has some open issues in it, is it being worked on?